[2021-10-19 21:17] blefaudeux opened #8 "[feat] PyPI package + badges + links + HOWTO"
# 🐛 Bug
Publish the PyPI package + update all the above

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:

[code]

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you ins

[2021-10-19 22:42] blefaudeux opened #12 "[bug] Restore access to the 2d patterns notebook"
# 🐛 Bug

the 2d patterns notebook was lost in translation, too big to be checked in.

[2021-10-19 23:27] blefaudeux opened #13 "[perf] Test Triton to fuse/harden some operations enhancement"
# 🚀 Feature
Investigate "hardening" typical Transformer-related operations using Triton. This issue is a rollover from Fairinternal

## Motivation
Get faster, possibly fused, blocks

## Pitch
Triton makes it relatively easy to consolidate some typical DL primitives into single ad-hoc kernels

## Alternatives
Use pytorch primitives

## Additional context
Ongoing work for some time

[2021-10-20 01:20] tgale96 opened #15 "Sputnik in Xformers"
# ❓ Questions and Help

Hello! I'm the author of Sputnik and noticed that you've forked it! I'm interested to understand your use cases. If you have any questions about the library I'm happy to help!

[2021-10-20 05:53] #8 closed

[2021-10-20 12:23] tgale96 commented on #15
No worries! I'm just happy to see more users :) Fine-grained sparse attention topologies is a cool use case! I'd be really curious to see what kinds of results you're able to get.

For supporting batched CSR where each matrix has its own topology I would do the following. To store the matrix I'd pack all the nonzeros/indices/offsets into the same allocations. Then I'd add another offset array to t

[2021-10-21 00:08] blefaudeux opened #18 "[perf] Auto causal <> sparse"
# 🚀 Feature
When applicable, automatically use sparse or blocksparse for causal attention. Right now this requires that people use them explicitly, even if the causal flag is passed, which means that a lot of people could miss the possible optimization.

## Motivation
Free perf on the table, can be a little complex to handle all cases, but would make sense to do it directly in xFormers.

## Pitch

[2021-10-22 16:10] blefaudeux opened #23 "[block factory] Handle attentions which return one or several extra context tensors"
# 🚀 Feature
Luna has an extra "context" path, I think that several other attentions do something similar (like the attentions which try to keep a long term memory), it would be nice to handle this possibility in the block_factory for encoders or decoders.

## Motivation
Support attentions which pass a context along, or similar

## Pitch
Make it possible for attentions to return several items, not

[2021-10-22 16:14] blefaudeux opened #24 "Blocksparse crashes in the encoder benchmark"
# 🐛 Bug
Running `python3 xformers/benchmarks/benchmark_encoder.py --activations relu  --plot -emb 256 -bs 32 -heads 16 -mlp MLP -a blocksparse` with latest Triton crashes on an illegal memory access.

The dedicated blocksparse matmul benchmark runs, same for the unit test

## Expected behavior
Well, not crashing

## Environment
[code]
## Additional context
Looks like something which can happen dep

[2021-10-22 22:41] #24 closed, assigned to blefaudeux

[2021-10-24 06:08] NeelayS opened #30 "Logo doesn't appear on documentation sub-pages"
# 🐛 Bug

Currently, the `xFormers` logo only appears on the main docs page and the `what_is_xformers` page which is present in the same directory as it, but not on the other sub-pages. I was wondering whether setting the Sphinx option `html_logo` in the `conf.py` file would fix this.

Would be happy to make a PR for this, let me know what you think.

[2021-10-24 22:04] blefaudeux opened #32 "[feat] Rotary embeddings"
# 🚀 Feature
Implement rotary embeddings support

## Motivation
Clear improvement over SOTA, improves some of the variants (Favor at least), possible good candidate for Triton to get some speed beyond pytorch

## Alternatives
Not doing it

## Additional context
Reference paper https://arxiv.org/abs/2104.09864
Related blog post https://blog.eleuther.ai/rotary-embeddings/

[2021-10-25 05:12] blefaudeux opened #33 "[bug] LRA config was broken by the recent mask changes"
# 🐛 Bug
Broken LRA setup with Nystrom
-> should be fixed
-> could we make this part of CI somehow ?

## Command
`python3 run_tasks.py --attention nystrom --task listops --config code/config.json --world_size 1 --tb_dir logs/tb/banana --checkpoint_dir logs/banana`

asserts on the initial tracing phase (when computing the flops) for nystrom

## Expected behavior
Runs normally

## Additional context

[2021-10-25 22:22] #33 closed, assigned to nobody

[2021-10-25 22:27] blefaudeux opened #38 "[LRA] Use key masking instead of attention mask"
# 🐛 Bug

Right now the LRA implementation uses attention masking ([see](https://github.com/facebookresearch/xformers/blob/main/xformers/benchmarks/LRA/code/model_wrapper.py#L199)) for the MLM task, which is probably wrong for a couple of attentions (would need investigation). Key masking would probably make more sense

[2021-10-26 04:04] #30 closed, assigned to nobody

[2021-10-26 04:55] blefaudeux opened #41 "[feat] Compositional Attention"
# 🚀 Feature
Intriguing paper, keep the softmax(QKt) and V untangled, in that retrievals (*V_i in the vanilla attention) can have a look at all the searchs, that is it can be evaluated against all the softmax(QKt)_j, on a per head basis ("heads" become how many searchs and and many retrieval you support, possibly different)

## Motivation
Interesting take for some tasks, does not seem life changing

[2021-10-27 07:53] pradeep90 opened #43 "Support shape types for Tensors."
# 🚀 Feature

Add shape type stubs for Tensor functions. Annotate some of the xformers code with shape types so that future users can add new ones easily. Set up IDE support and iterate on the UX based on user feedback.

## Motivation

Shape types allow us to see the shape of a Tensor as it is transformed by various functions. This can help understand existing code, debug problems, and catch shape

[2021-10-28 05:51] #32 closed, assigned to nobody

[2021-10-28 21:12] ClashLuke opened #50 "feat(triton): InplaceNorm + InstanceNorm"
I'd love to run LayerNorm in place and ideally also add InstanceNorm (by extracting the core normalization from LayerNorm) as HomebrewNLP is currently using a slow PyTorch-level [implementation](https://github.com/HomebrewNLP/HomebrewNLP/blob/master/src/model.py#L32-L53) with a correct backward pass.

While we're at it, optionally fusing GLU and [GLUv2](https://arxiv.org/abs/2102.11856) (`gelu(f(x

[2021-10-29 22:16] blefaudeux opened #56 "[bug] Failing triton dropout test"
# 🐛 Bug

See https://app.circleci.com/pipelines/github/facebookresearch/xformers/212/workflows/8988c71c-84f5-4bd0-bd59-ac7d293c2370/jobs/398

Not sure why this happens just now, looking into that

## Command
can repro locally with ` pytest tests -k dropout -x -v `

[2021-10-29 22:46] #50 closed

[2021-10-29 23:15] #56 closed

[2021-10-30 20:23] domluna opened #60 "Building blocksparse kernels"
# ❓ Questions and Help

It looks like sputnik kernels are not built when running the setup script.

I build the source with

[code]

I get the following error

[code]

Even though there's the warning about code generation possibly failing it seems to work fine when the ops are not sparse. Triton kernels showing improvements:

[code]

[2021-10-30 23:17] blefaudeux commented on #60
It's mentioned in the README, probably not easy enough to follow but the sparse kernels (not blocksparse, there's some confusion here as blocksparse comes from Triton) are build during setup if it manages its way around the exposed CUDA toolchain.

Could you post the `python setup.py build develop` log (after you wipe the /build folder) ? could you report some more info on your pytorch install, yo

[2021-10-31 17:07] domluna commented on #60
The issue seemed to be that the cuda toolkit installed with pytorch doesn't have nvcc, installing the latest cuda seems to have fixed this

[2021-10-31 17:07] #60 closed

[2021-11-03 00:02] blefaudeux opened #70 "Support Tensor parallel or pipeline parallel out of the box"
# 🚀 Feature
Support tensor // or model // as a built in feature, through Fairscale ? cc @min-xu-ai @anj-s @suchenzang @VitaliyLi @iyerr3

## Motivation
This is typically extra work for users, but squarely in the model space. xFormers could invest in a generic engineering effort here

## Pitch
Ideally, either a factory option or a dedicated model wrapper, and make this mostly transparent to users

[2021-11-03 00:06] anj-s commented on #70
This is something we have on our roadmap. Is it a different effort from what we have planned?
1. We need to land the tensor parallel code that is already in FairScale.
2. We need to complete/land the Distributed pipeline parallelism code that is already in FairScale.

[2021-11-03 00:32] min-xu-ai commented on #70
I think it is useful to separate and make things bit more concrete:

1. pipeline: we are talking about pipelining identical attention layers, right? The non-attention layers at the beginning and the end of the pipeline will cause trouble with balance of both memory and speed. Also, if the number of layers is not evenly divisible by # of GPUs, again, balancing is an issue. What's the plan for addre

[2021-11-03 02:00] suchenzang commented on #70
@min-xu-ai Pipelining would look very similar to what is present in Megatron: https://github.com/NVIDIA/Megatron-LM/blob/b31e1296354e979722627a6c4dedafe19b51fa97/megatron/schedules.py#L187. In terms of balancing, it's the same issue as FSDP (materializing one layer at a time vs materializing full model across multiple GPUs), but with a bit more flexibility since the allocation across GPUs doesn't

[2021-11-03 02:54] min-xu-ai commented on #70
can you elaborate on this? When FSDP materializing 1 layer on a gpu, it is overlapped with compute of another layer. The only requirement is that compute time needs to be long enough to keep all gpus busy. One can vary batch size to make compute longer. All gpus are doing the same thing.

With pipeline, models with different layers, even transformer has embedding and output vocabulary layers, caus

[2021-11-03 03:02] suchenzang commented on #70
I'm mainly focused on data movement wrt params (/memory pressure). FSDP consumes more memory than necessary since it leaves memory allocation and deallocation to PyTorch, rather than deploying custom kernels to handle this explicitly. Overlapping with compute isn't helping, since that implies keeping the parameters associated with that layer in memory as well. Pipeline parallelism avoids this move

[2021-11-03 03:26] min-xu-ai commented on #70
I see what you mean. If by data you mean the activation, then I think FSDP actually keeps data fixed in memory, not moving in and out like that in the pipeline case.

I wasn’t actually worried about data moving between gpus for pipeline. That movement is also overlapped between micro batches (except during the filling and draining bubbles. ) I am more worried about the structure of a pipeline requ

[2021-11-03 03:32] suchenzang commented on #70
Ah yeah tuning various params (architecture, mainly, but microbatching frequency can also change between layers, potentially) to keep the latency balanced is tricky.  This is part where sacrificing some compute (idleness) may be worth it for that much more memory / bigger batch that you can use per gradient step. In that world even if you are 30% less compute efficient, if your model learns 30-40%

[2021-11-03 15:42] ClashLuke commented on #70
I'm sorry for not having anything of value I could add, but this would be super exciting, and I'm very much looking forward to seeing this added.﻿</br>
Do you think it'd be reasonable to add Mesh TensorFlow's dimension-based splitting to xformers (or PyTorch in general)?

[2021-11-03 15:49] ClashLuke opened #71 "[perf] merging computation across triton kernels"
Is it possible to reasonably merge our matmul, activation, normalization, attention and soon-to-be-added GLU kernels into one large kernel without writing a fused kernel?</br>
If we're able to do that, I propose adding triton kernels for RevNet so that we can compile the entire model instead of just parts of it. Unless anyone else wants to, I could work on implementing that.

[2021-11-03 17:00] blefaudeux opened #73 "[bug] Flaky FusedMLP test"
# 🐛 Bug
See https://app.circleci.com/pipelines/github/facebookresearch/xformers/303/workflows/5b19d79c-572d-46c5-a3af-66e65e04385d/jobs/575
Could be a good incentive to close on https://github.com/facebookresearch/xformers/pull/42

[2021-11-03 17:00] blefaudeux commented on #73
note that it does not seem to happen locally, looks like the T4s are more sensitive for some reason, but there's probably an underlying bug

[2021-11-03 23:44] blefaudeux opened #74 "[bug] Nystrom fails with microGPT"
# 🐛 Bug
`python3 microGPT.py` when using Nystrom -> hard crash

[2021-11-04 05:06] blefaudeux opened #76 "switch Triton parts on/off depending on the torch AMP context"
# 🚀 Feature

There are a couple of fused parts which are faster than pytorch in fp16, but slower in fp32 for now. By enabling them we risk users running the library in fp32 and finding it slow when compared to pytorch. We could either check the input or the torch AMP context, and fallback to pytorch if we're in a known perf hole

## Motivation
Things should be fast by default, regardless of what t

[2021-11-04 05:06] blefaudeux commented on #76
cc @dianaml0 @fmassa, thoughts?

[2021-11-04 17:12] #74 closed

[2021-11-05 09:22] ClashLuke opened #78 "[feat] patch torch and huggingface for improved performance in existing applications"
I'd love it if we could patch existing functions like `torch.nn.functional.softmax` with our faster xformers/triton implementation. This would allow users of pre-defined models from HuggingFace to simply call `xformers.patch()` and run twice as fast.\
Do you think that'd be possible, or would we have to rewrite all APIs first to match PyTorch's?

I'd propose writing a `patch()` function which repl

[2021-11-07 04:47] blefaudeux commented on #78
There's an example here on how to patch existing models, in this case attention but could be generalized to something else https://github.com/facebookresearch/xformers/blob/main/docs/source/vision_transformers.ipynb. Else I've not checked the pytorch interface for softmax, but it's probably very reasonable and we could well have the same here, very doable

[2021-11-08 23:52] blefaudeux opened #87 "[feat] Make the batch dimension broadcastable"
# 🚀 Feature
Support different key/query/value batch sizes, if 1 or the same value

## Motivation
(popped up when working on [salina](https://github.com/facebookresearch/salina)) PyTorch MHA handles key/query/value with 1 to B batch sizes, will broadcast if in need, We don´t do that and hard crash instead, so the users have to align dimensions from the outside

## Pitch

## Alternatives

## Additio

[2021-11-09 00:06] #13 closed

[2021-11-09 00:06] #73 closed

[2021-11-09 10:57] fmassa opened #90 "`scaled_dot_product_attention` shouldn't slice `attn_mask`"
In https://github.com/facebookresearch/xformers/blob/cc7c8edd6907abdb09d10f60e456e224109a4aca/xformers/components/attention/core.py#L233-L248
the core function `scale_dot_product_attention` was made to accept `attn_masks` which are not of the correct shape.

While this looks like a convenience function, IMO this shouldn't be handled at such a core level as `scaled_dot_product_attention`.
Indeed, t

[2021-11-09 11:02] fmassa opened #91 "`scaled_dot_product_attention` shouldn't have a `causal` flag"
The causal flag in https://github.com/facebookresearch/xformers/blob/cc7c8edd6907abdb09d10f60e456e224109a4aca/xformers/components/attention/core.py#L191 was added to enable fast triton kernels for softmax.

I believe we shouldn't have this flag, as it makes it look like we can combine `attn_mask` and `causal`, which doesn't look like it's the case.
Plus, the behavior of `causal` is embedded inside

[2021-11-09 17:47] blefaudeux commented on #91
ah interesting, I went over this part a couple of times recently (with the additive/bool mask change) and it did feel a bit messy. Ok with the proposed solution, in general I think that having types around the mask would help cornering the usecases, beyond causal (ie: convey the fact that it's additive)

[2021-11-09 19:02] blefaudeux commented on #90
yes for the slowness, that was the purpose of the logging.warning, it should not be done ideally. I think that it's a hard tradeoff, on the vision side this probably never happens unless there's a mistake (you should rescale the pictures and be done with it), but on the NLP side it's fairly common with different sentences length. I think that there's value in having something convenient (or a hard

[2021-11-11 21:48] #12 closed

[2021-11-11 21:50] blefaudeux opened #96 "Favor breaks with fp16"
# 🐛 Bug
The loss nans immediately

## Command
`python3 microGPT.py` when precision is set to 16

## Environment
Unrelated

[2021-11-11 22:30] blefaudeux commented on #96
I got the bug @xwhan, finally got some time to look into it, it's because of the normalization step here, this underflows in fp16. Fixing that https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/favor.py#L148

[2021-11-12 17:01] #96 closed

[2021-11-15 19:13] blefaudeux opened #103 "[bug] Causal mask is skipped if no att_mask is passed"
# 🐛 Bug

In https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/scaled_dot_product.py#L78
if no att_mask is passed, then an hypothetical causal mask is completely skipped

[2021-11-15 19:14] blefaudeux commented on #103
cc @SeanNaren, thanks for the heads up, fixing that asap

[2021-11-15 19:17] blefaudeux commented on #103
cc @dianaml0, maybe the reason why you were having a trouble comparing dense and blocksparse ? This was pretty wrong

[2021-11-16 00:58] blefaudeux opened #105 "[improvement] lower Favor+causal memory consumption"
# 🚀 Feature
Lower favor+causal memory consumption

## Motivation
Using a lot of memory for an approximation kind of defeats the purpose..

## Pitch
would make favor more useable for NLP, not sure how much of a priority this is

## Alternatives
Not doing anything, there are other options for causal  approximations (Nystrom for instance)

## Additional context
The previous implementation (prior to #

[2021-11-16 23:46] blefaudeux opened #107 "[follow up] Check Nystrom + causal"
# 🐛 Possible Bug
- Nystrom does not pass the test in https://github.com/facebookresearch/xformers/pull/104
- with same #104, the nystrom specific test does not pass if causal is set (+ Nans everywhere)

causal was not part of the original paper, it could be that something got lost in translation. Some reference [here](https://github.com/mlpen/Nystromformer/issues/7#issuecomment-822972925)

[2021-11-16 23:54] blefaudeux opened #108 "Benchmark with Timm"
# 🚀 Feature
[Timm](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py#L177) is the SOTA in the field for vision transformers, it would be a good touchstone to check where a vanilla xformers speed lands

## Motivation
speed is important to be compelling

[2021-11-17 00:28] #103 closed

[2021-11-21 04:26] #90 closed

[2021-11-21 04:26] #91 closed

[2021-11-22 19:40] #108 closed

[2021-11-26 15:45] fmassa opened #122 "`BlockSparseAttention` doesn't use dropout"
# 🐛 Bug

While working on refactoring the `blocksparse.py` file into its own custom tensor type, I noticed that `BlockSparseAttention` doesn't implement dropout, which is probably not intended.

cc @blefaudeux

[2021-11-26 16:24] blefaudeux commented on #122
Wow not intended indeed, should be easy enough to fix but oversight :/ thanks for spotting this

[2021-11-26 16:57] blefaudeux commented on #122
I just had a look, it's not trivially supported right now, we should not expose it as a setting at the very least. A vanilla dropout will not do since at that point the attention matrix is sparse, we could change our [triton based](https://github.com/facebookresearch/xformers/blob/main/xformers/triton/dropout.py) dropout to handle block sparse matrices, some work but doable. Another option is to d

[2021-11-26 17:07] blefaudeux commented on #122
Not correct dimension wise (using the same mask across heads and batch), but quick [example for the second take](https://github.com/facebookresearch/xformers/blob/blocksparse_dropout_fix/xformers/components/attention/blocksparse.py#L187)

[2021-11-26 17:25] fmassa commented on #122
@blefaudeux can't we call PyTorch's dropout in the output of the softmax? IIUC Triton's kernel is just taking and returning a dense Tensor (which corresponds to the location where the elements are non-sparse)?

[2021-11-26 17:26] fmassa commented on #122
(this is btw what we do in https://github.com/facebookresearch/xformers/blob/71bab94cb954e6e291ca93d3bce5dffadab4286d/xformers/components/attention/core.py#L159-L174 )

[2021-11-26 17:40] blefaudeux commented on #122
top of mind I think that the output of the softmax is blocksparse, so torch dropout will not work on that directly.

[2021-11-26 17:43] fmassa commented on #122
The output of `softmax` is just a standard `torch.Tensor` of the non-zero values. https://github.com/openai/triton/blob/b7f0e87dc2143cdf9cbc050e34ba80440074c53b/python/triton/ops/blocksparse/matmul.py#L233

[2021-11-26 17:52] blefaudeux commented on #122
Ok then perfect, that works and it's a one liner !

[2021-11-29 04:13] #122 closed

[2021-12-01 22:36] blefaudeux opened #134 "[CI] Reversible BW pass is not unit tested"
# 🐛 Bug
See https://app.codecov.io/gh/facebookresearch/xformers/blob/main/xformers/components/reversible.py
Needs some coverage or this will break over time..

[2021-12-01 22:37] blefaudeux commented on #71
Closing that @ClashLuke, let me know if I misunderstood and you would like something done along these lines

[2021-12-01 22:37] #71 closed

[2021-12-01 22:42] blefaudeux opened #135 "[CI] InProj countainer not properly covered"
# 🐛 Bug
Not a bug per say, but many inProjCountainer options are not covered, see https://app.codecov.io/gh/facebookresearch/xformers/blob/main/xformers/components/in_proj_container.py

[2021-12-01 23:02] blefaudeux commented on #135
hmm, looks like it's actually tested but it's yet another space that the code coverage misses (the backward implementations are called by autograd from outside the original python context..)

[2021-12-01 23:02] blefaudeux commented on #134
hmm, looks like it's actually tested but it's yet another space that the code coverage misses (the backward implementations are called by autograd from outside the original python context..)

[2021-12-01 23:02] #134 closed

[2021-12-01 23:02] blefaudeux commented on #135
closed by mistake, comment applies to the other related issue (reversible BW)

[2021-12-02 01:25] #135 closed

[2021-12-02 16:50] kashif opened #138 "Encoder decoder arch doesnt work when sequence lengths are different"
# 🐛 Bug

I get an error when the sequence lengths to the encoder and decoder are different, e.g. in the code snippet below:

## Command

[code]

## Expected behavior

[code]
however, I get:

[code]

[2021-12-05 07:47] blefaudeux commented on #138
oh thanks for the report and sorry for the delay ! I don´t think that we've ever tried that, I'll have a look, should not be too big of an issue

[2021-12-05 07:48] blefaudeux commented on #105
just had a look, I think that this would need a triton kernel to do it properly, the current pytorch implementation works but the speed and memory use are horrible (it's just not an operation which is easy to express with matmuls)

[2021-12-05 07:52] blefaudeux commented on #105
see https://arxiv.org/pdf/2006.16236.pdf, for reference

[2021-12-05 08:42] kashif commented on #138
Yeah no worries I too think it’s just some variable issue.. where you are assuming both seq lengths are the same… just a bit harder for me to fix than you cause you know where to look… thanks!

[2021-12-06 04:10] blefaudeux commented on #138
ah I just realized that you're mixing different attention mechanisms, that's great ! favor needs some work on the causal side, WIP. In that case the crash is in favor, it looks like it does not support q/k having different lengths, I'll have a look !

[2021-12-06 08:58] kashif commented on #138
@blefaudeux thanks! Yes even with:

[code]

I get:

[code]

[2021-12-06 16:32] blefaudeux opened #142 "Follow up on #141 with a proper unit test"
# 🐛 Bug
Make sure that #141 cannot happen anymore, add a small unit test to guard parity

[2021-12-07 01:17] blefaudeux commented on #138
ok that's not normal, it should work for all the attentions which are allow-listed [here](https://github.com/facebookresearch/xformers/blob/main/tests/test_attentions.py#L240). I didn´t have a lot of time to look into that, sorry, not forgotten though

[2021-12-07 17:40] blefaudeux commented on #138
ok @kashif I finally got the time to have a look, it has to do with how the causality is handled (if you don't ask for causality then it's all good as it should, at least for attentions which support different k and q dimensions). I think it makes sense in that if you ask for causality and k and q have different lengths, it's not obvious how they refer one to another ? is the shorter one related t

[2021-12-07 17:53] kashif commented on #138
thanks, @blefaudeux for looking into this... so I am planning to use this in the context of time series forecasting... where the encoder takes a sequence (or arb. length) and outputs the memory for the decoder which then takes a sequence length described by the problem and predicts the next value (so I need a causal mask in the decoder of size `SEQ_DEC x SEQ_DEC`). So I am also not sure without wo

[2021-12-07 18:03] blefaudeux commented on #138
the devil is there basically, "takes a sequence of arbitrary length". Causal needs a 1:1 mapping, because you want to say ¨don't look into the future', and you have to know what the future is. If you have `[. . . . . .]` and `[. . .]` where is the future in the second sequence, when related to the first one ? If you know that the sequence beginnings are aligned, then you can pad the second one (se

[2021-12-07 18:21] blefaudeux commented on #138
thoughts @SeanNaren and @tchaton, my API experts, does the above make sense ?

[2021-12-07 18:23] kashif commented on #138
thanks @blefaudeux I will go over your thoughts and think about it too...

[2021-12-07 22:41] SeanNaren commented on #138
Spoke to @blefaudeux offline and agree with him on this; I think the correct approach would be to instantiate the two separate attention blocks and within the forward function, pad to the appropriate sequence length for the second attention block!

[2021-12-10 06:35] blefaudeux commented on #138
is that ok to close @kashif ? Open to discussing this more

[2021-12-10 07:10] #138 closed

[2021-12-10 07:10] kashif commented on #138
Thanks

[2021-12-11 03:38] blefaudeux opened #146 "[microGPT] Crash on sampling "sample not on the right device""
# 🐛 Bug
Maybe something which changed in lightning, but the sampling in the end of microGPT fails on the sample not being on the right device now

## Command
`python3 example/microGPT.py`

## Additional context
Callstack
[code]

[2021-12-11 16:20] #146 closed

[2021-12-11 16:47] blefaudeux opened #148 "ViT example broke with the model_factory refactor"
# 🐛 Bug
Breaks on the config, we should add a quick run on that one also to make sure that this does not happen

## Command
`python3 xformers/benchmarks/benchmark_vit_timm.py`

Callstack
[code]

[2021-12-12 04:21] #148 closed

[2021-12-13 14:13] erip opened #152 "Add conda package"
# 🚀 Feature

## Motivation

Packaging pytorch-based packages can be a bit messy because of their reliance on specific CUDA toolkits. Additionally, packages with native code are often messy and rely on a client compiler which can be painful (e.g., on Windows). In the case of xformers, wheels are built but having a condafied package allows for conda-only builds to consume xformers without relying on

[2021-12-13 17:41] blefaudeux opened #153 "[OpenFold] Custom parts / AlphaFold"
# 🚀 Feature
Checkout the discussion [here](https://github.com/pytorch/pytorch/issues/69654), OpenFold is missing a couple of custom/optimized parts in PyTorch and maybe that xformers could host some of these

## Motivation
- Transformer related
- Custom parts, not handled out of the box by the PyTorch primitives in a fast enough fashion
- Possibly good candidates for Triton, Functorch or Sputnik,

[2021-12-14 00:46] #142 closed

[2021-12-17 03:35] dianaml0 opened #155 "Add LRA to CI"
# 🚀 Feature

Capturing idea from @blefaudeux [here](https://github.com/facebookresearch/xformers/pull/145#issuecomment-996223858). Add LRA to the CI since some bugs are only showing up through manual runs of it. Should be a smaller version of the full LRA.

## Motivation

LRA has caught many bugs, could be useful to add it to the continuous integration testing.

## Pitch

LRA with a smaller datase

[2021-12-18 23:27] jramapuram opened #157 "pip install broken on OSX and Ubuntu 20.04 (container w/ CUDA) python 3.9"
Not sure if there are any specific requirements or why this particular error occurs, but I see the same error on both:

1. OSX Monterey with a mini forge env -- python 3.9
2. Ubuntu 20.04 in a docker container (with CUDA installed) -- python 3.9

Error is also quite non-descriptive: `assert len(sources) > 0`

[Full gist](https://gist.github.com/jramapuram/c4a8e6f372a6fceb96d88c09e0b27cad).

[2021-12-19 01:16] dianaml0 commented on #157
If you [build from source](https://github.com/facebookresearch/xformers#build-from-source-dev-mode) that should fix the issue. This is happening because the files for building extensions aren't there. Will look into improving this.

[2021-12-19 15:00] jramapuram commented on #157
Thanks for the quick response @dianaml0.

- With OSX I get an `clang: error: unsupported option '-fopenmp'`:  I tried installing `llvm`, `gcc` and `libomp` with brew, setting `CC` and `CPP` and none of these worked.
- With the Ubuntu 20.04 container: the source compile works, but after `pip install -e .` it seems like the cloned repo `xformers` needs to be present (i.e. an `rm -rf xformers` fails

[2021-12-20 04:09] blefaudeux commented on #157
this could be a path issue, MacOS ships its own clang. Have you tried conda by any chance ?

This is the very definition of -e, it means "editable" if I remember correctly, if you install with that and modify the library code then this modified code will be used. `pip install .` or `python3 setup.py install` if you want a fire and forget strategy, top of head (this is not specific to xformers, it'

[2021-12-20 04:18] jramapuram commented on #157
Sure I can give this a shot. Ideally I’m sure folks are mainly prototyping on OSX and only need `pip install xformers`. However this is completely broken on OSX and Ubuntu 20.04.

Ah yes derp! Thanks, `-e` is indeed editable. Makes sense for development 👍

[2021-12-20 04:34] blefaudeux commented on #157
+1, thanks for the feedback, we're working on that ! to explain a little the issue is with the cuda kernels, which need to be pre-compiled in a gazillion number of configurations for ´pip install xformers´ to just work, work in progress !

[2021-12-20 11:55] fmassa commented on #157
Hi @jramapuram ,

In order to install on OSX, you need to pass the following:

[code]

This will tell the gcc to use the right options for the compiler.

@blefaudeux @dianaml0 I'll update the installation instructions to take this into account

[2021-12-20 12:06] fmassa commented on #157
Improvements to installation instructions sent to https://github.com/facebookresearch/xformers/pull/159

For the original issue you were facing, we just need to include the `c++` / `.cu` files in the `pip` package as well. I'll send a PR to include them

[2021-12-20 12:12] jramapuram commented on #157
@blefaudeux : appreciate the complexity of getting all the CUDA kernels compiling. How does PyTorch resolve this? Guessing something like build all (valid) CUDA archs and couple with a pinned cudatoolkit? Maybe that would be the cleanest? Adding the sources as suggested by @fmassa would be great as it removes the git coupling at least :)

@fmassa: thanks! That was it. I missed the CXX export. The

[2021-12-20 12:16] fmassa commented on #157
@jramapuram great that this is working!

FYI I don't think installing `llvm` is necessary (at least for building the C++ extensions, maybe for triton).

Indeed, starting from XCode 4.2, [clang is the default compiler for OSX](https://clang.llvm.org/get_started.html), so just setting `MACOSX_DEPLOYMENT_TARGET=10.9` should fix everything I believe

[2021-12-20 16:38] blefaudeux commented on #157
Just adding two cents here, for clarity: not needed for triton either, it ships with the wheels so on our side there's nothing to be done beyond `pip install triton`

[2021-12-20 16:42] blefaudeux commented on #152
This would be great really, thanks for the issue here. I've no know how here, pinging @chrisburr and @h-vetinari (who nailed the fairscale release on conda) in case the could point us to some steps (or just have an educated opinion). To give some context xformers needs to build some cpp and cuda code (not that different from fairscale actually, probably that the same config would work). cc @fmassa

[2021-12-20 16:43] blefaudeux commented on #155
I think that one plan could be to:
- add minGPT like (pull shakespeare, autoregressive task) as an LRA task (same formalism as the others)
- use that as a lightweight task on CI, over a couple of tokens, checking that some of the LRA codepath is in good shape

thoughts ?

[2021-12-20 16:51] erip commented on #152
I've handled simple conda packaging before, but complexity seems to increase with more targets (like CUDA toolkits). I'm happy to work with someone more experienced to push this through. It might require a bit of extra work since I think all dependencies need to be condafied (and triton is not). In any case, please let me know if I can help in some way!

[2021-12-20 19:29] jramapuram commented on #157
Didn't work for me on OSX 12.1 on an M1 Max 😬 . I had to install LLVM.

Triton installed fine without the above change though 🤷 .

[2021-12-20 20:44] dianaml0 commented on #155
Yes that sounds like a good idea! Should we also have the full LRA run regularly as well not necessarily part of CI?

[2021-12-20 20:54] blefaudeux commented on #155
Yes agreed for the full LRA, but then probably on the Fair cluster with the framework built by Caleb Ho ?

[2021-12-20 22:37] h-vetinari commented on #152
Hey all

I think this can be done. I've looked at the requirements, and I'm not sure what `requirements-lra.txt` does? It's not used in `setup.py` AFAICS.

I cannot see triton that @erip is mentioning? Other than that, it seems sputnik should possibly be packaged separately...

I can open a PR to staged-recipes and make you a collaborator of my fork (allowing you to push into the PR), but first I'

[2021-12-20 22:48] blefaudeux commented on #152
hey @h-vetinari, thank you so much for jumping in ! Trying to unroll:
- LRA is not needed here I think (requirements-lra can thus be forgotten), it's an ease of use integration but not part of the core library
- some info on triton: https://github.com/openai/triton pulling in the main author @ptillet to see whether conda-ifying would be supported (there are wheels already)
- from the credits list,

[2021-12-20 22:51] erip commented on #152
Worth mentioning that triton is an _optional_ dependency here, not that it makes a huge difference from the condafication perspective.

[2021-12-20 22:53] h-vetinari commented on #152
OK, I found it now, but it's not under third-party, nor a submodule, etc. What exactly is the relation to upstream triton? Patched fork? Is it frozen or will it pull in upstream changes?

It's pretty easy to do that in conda-forge as well, if you want. There could be a base package `xformers` and then `xformers-lra` that contains extra dependencies.

Conda doesn't understand "optional" - that's wh

[2021-12-20 22:55] erip commented on #152
See [here](https://github.com/facebookresearch/xformers/blob/b582882cfd9ca526068843b9debf5bd905c66425/xformers/triton/__init__.py#L9) -- basically if CUDA is available, triton is enabled for fusing layers.

[2021-12-20 22:58] h-vetinari commented on #152
Well, I'd describe that as conditional on CUDA availability (at runtime, no less), rather than being optional.

Where is the GE-SpMM code and (same question as above), what's the relation to "upstream" GE-SpMM?

[2021-12-20 23:11] blefaudeux commented on #152
Triton is just used as is, it's a classic python dependency (ie: pip  install triton is enough when in the pip world)

Sputnik is in third_party/sputnik
Gespmm is in xformers/components/attention/csrc (sorry, on mobile so links are cumbersome)

[2021-12-20 23:11] h-vetinari commented on #152
OK, I think I'm understanding better now. The code in [`xformers/triton`](https://github.com/facebookresearch/xformers/tree/main/xformers/triton) is the code _using_ upstream openai/triton, rather than being a fork etc.

[2021-12-20 23:12] h-vetinari commented on #152
Yeah, I was just confused because it doesn't appear in [`requirements.txt`](https://github.com/facebookresearch/xformers/blob/main/requirements.txt)...

[2021-12-20 23:20] erip commented on #152
Yeah, I think the heavy lift is supporting the various CUDA toolkits which I don't have experience supporting in conda recipes. I'm happy to be added as a maintainer or outside collaborator for a staged recipe @h-vetinari. Hopefully it shouldn't be a big issue.

[2021-12-20 23:21] h-vetinari commented on #152
The only thing I've found is:
[code]
[here](https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/csrc/computeUtil.h#L1-L3) and [here](https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/csrc/cuda/sddmm2_cuda.cu#L1-L3). Sounds like this doesn't need separate packaging (also, I don't see a license beyond that note; at least upstream is

[2021-12-20 23:26] h-vetinari commented on #152
Triton on the other hand looks a bit more involved. It [looks like](https://github.com/openai/triton/blob/master/CMakeLists.txt) it's using static libraries (where conda-forge intentionally only has dynamic ones), and also demands LLVM 13 on windows, which hasn't made it to conda-forge yet in its entirety.

[2021-12-21 03:22] blefaudeux opened #161 "[feat] Add a fast implementation of Rabe and Staats algorigthm (mem efficient attention) on GPU"
# 🚀 Feature
Implement https://arxiv.org/pdf/2112.05682v2.pdf using Triton

## Motivation
There are [existing implementations](https://github.com/aqlaboratory/openfold/commit/96709588dd6759a02a2eca8b67a278bd3219a3f9) in Pytorch, but they re bound to be a little slow. It s actually not that much work to write that down in Triton, give it a shot. Given the FW speed (should be similar to normal attent

[2021-12-21 03:56] blefaudeux commented on #152
I think that not handling windows is fine to be honest, at least having a conda package which is pre-compiled only for linux is already strictly superior to anything we have (see #157 for instance). Let's not make better the enemy of good :)

[2021-12-21 04:10] h-vetinari commented on #152
Yeah, TBH, replacing the static libraries are a bigger unknown right now than just waiting for availability of LLVM 13 (but even that should be tractable, though it'll most likely need patching).

In any case, I started with [cutlass](https://github.com/conda-forge/staged-recipes/pull/17303), which is needed by triton (well, perhaps not _needed_ specifically, but unless I'm hitting a hard roadbloc

[2021-12-21 04:18] blefaudeux commented on #152
thanks a lot for that work @h-vetinari, very much appreciated !

[2021-12-21 11:05] fmassa commented on #152
Hi,

One complication with the current state of xformers is that we depend on a nightly version of PyTorch for the sparse self-attention.

This will be lift once PyTorch 1.11 gets released, but for now we would need to release a nightly package.

I know that @lw has recently done a very similar work for fairring, so we could probably follow the exact same steps as him

[2021-12-21 12:27] lw commented on #152
I set up a conda package build against PyTorch nightly but in hindsight it might have been better to set up wheels: PyTorch's conda channel prunes the old packages daily, meaning that for a few hours a day it will be impossible to install my nightly. This is because otherwise PyTorch would hit against the conda channel size limit. There's no such issues for wheels because PyTorch self-hosts those.

[2021-12-21 12:33] lw commented on #152
I've skimmed the rest of the discussions and I've seen mentions of bundling static libraries and how that's hard because conda-forge only ships dynamic ones. I've been there with Fairring, and our solution is to rebuild those deps as part of our recipe and then combine the static archives with our code within the final shared object (and we even put extra care in hiding these deps' dynamic symbols

[2021-12-21 14:59] erip commented on #152
Tracking triton condafication [here](https://github.com/openai/triton/issues/398)

[2021-12-21 15:14] erip commented on #161
Another reference impl can be found [here](https://github.com/AminRezaei0x443/memory-efficient-attention) -- same caveats as outlined above.

[2021-12-21 20:55] tgale96 commented on #152
I believe xformers had some modifications to Sputnik kernels so it'd probably make sense to just package those up in the xformers conda package? I'd be open to adding a conda package for Sputnik but I don't know if this makes sense given it's all C++.

[2021-12-21 21:12] blefaudeux commented on #161
I've started something, it feels like some of the logic would need to be changed a bit for that to make sense at a kernel level, at least for triton. In particular it's hard to sequence things outside of a kernel, and reproducing the same logic as the one from the paper would lead to big buffers (if the computation is tiled), which diminish the interest a lot. It feels like the best approach is wi

[2021-12-21 21:12] blefaudeux commented on #161
thanks !

[2021-12-21 22:05] h-vetinari commented on #152
Yeah, I can see how that would work in principle, but if we're gonna get that hacky, I prefer to just patch the `CMakeLists.txt` to to look for the dynamic libs in the right place...

Seeing that https://github.com/facebookresearch/xformers/tree/main/third_party/sputnik only has the initial commit publicly visible, I cannot really say (aside from diffing against commits of upstream sputnik) but as

[2021-12-21 22:07] h-vetinari commented on #152
For conda-forge, this means we won't be able to package until pytorch 1.11 comes along. But at least that should give us some time to figure out all the other ingredients.

[2021-12-22 08:02] lw commented on #152
I don't know which libraries we're talking about here but it might not be that simple.
* One issue at play is ABI backwards-compatibility for those libraries, as if two versions of the library get loaded into the same process with incompatible symbols of the same name you'll hit a whole host of issues.
* Another issue is some libraries being bundled/buried within some other libraries and thus not

[2021-12-30 00:04] erip opened #165 "Error when running example"
# 🐛 Bug

Running the code from [here](https://github.com/facebookresearch/xformers/blob/main/HOWTO.md#model-factory) yields an error.

## Command

## To Reproduce

Execute code in example

[code]

Steps to reproduce the behavior:

1. Paste code from example into `test.py`
2. `python test.py`
3. profit

## Expected behavior

## Environment

Please copy and paste the output from the
environment coll

[2021-12-30 23:51] #165 closed

[2021-12-31 17:16] erip opened #168 "AttentionMask is not scriptable"
# 🐛 Bug

`AttentionMask` and any model composed of `AttentionMask` cannot be scripted.

## Command

## To Reproduce

Steps to reproduce the behavior:

1. Run code as below

[code]

## Expected behavior

`AttentionMask` should be a JIT-able module.

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You c

[2021-12-31 17:42] erip commented on #168
I have some workarounds here, but it requires some hacking that may not be acceptable for the library. Specifically:

- [`TypeVar` is not permitted in scripting](https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/attention_mask.py#L11) so `s/Self/"AttentionMask"/g`
- `classmethods` must populate all arguments (including [default args](https://github.com/facebookre

[2022-01-03 05:50] blefaudeux commented on #168
Hey @erip, thanks for this issue and investigation ! I think that all of your points above are actually pretty nice (or not that bad, like `x.to()`), we should probably just do that if that's all it takes. The TypeVar part should just be for MyPy I think, it's surprising that torchscript takes offense about that, on the mypy side there are workarounds. I can have a look a little later, else feel f

[2022-01-03 08:31] erip commented on #168
Sounds good! I'll start putting a PR together and we can see how it looks. It doesn't seem like a lot of effort, so if it doesn't work out then it's not a huge loss.

[2022-01-03 11:11] fmassa commented on #168
Hi,

Thanks for opening this issue!

Unfortunately I don't think we will be able to have most of xformers to be torchscriptable, for the following reasons:
- anything that uses triton won't be torchscriptable (block-sparse, efficient kernels)
- `torch.autograd.Function` is not torchscriptable (so the sparse ops won't be torchscriptable as is). This could be fixed, but from the following point I be

[2022-01-03 11:18] erip commented on #168
@fmassa thanks for the context! I actually just learned about the new package features but didn't realize it was a "direct route" to C++ --- I had assumed we'd still need to transit torchscript to get the multithreading. If you think it's better to put a stamp on the repo, that's fine. It certainly avoids some of the intrusive changes outlined above.

[2022-01-03 11:30] erip opened #169 "Does xFormers support weight tying?"
# ❓ Questions and Help

Tying weights between encoder and decoder embedding layers is often useful for convergence and task performance. Is there a mechanism for sharing weights between the encoder and decoder?

[2022-01-03 16:35] blefaudeux commented on #168
Ah, I almost wrote that yesterday evening (probably not worth it given the custom processing which is not torchscript compatible) but then I changed my mind seeing @erip list of enablers which looked reasonable to me (I thought of the projection and other pure pytorch parts -nystrom, linformer- which could benefit from torchscript maybe).

I did not have the extra deprecation context though, and w

[2022-01-03 16:39] blefaudeux commented on #169
Good question, thanks @erip ! As of now there are basically two sides of xformers, one is a part zoo (at different altitudes), the other one is around the factories, which combine these parts programatically.

If you use the first path (build the model yourself given parts), then tying weights is certainly possible, as you would do with any other model. It's not supported with the factory right no

[2022-01-03 16:42] #168 closed

[2022-01-04 19:28] tridao opened #173 "Dropout uses the *memory address* of seeds instead of reading seeds from memory"
# 🐛 Bug

From reading the code for `k_dropout_fw` and `k_dropout_bw`, it seems to me that the seeds are never read from memory and the code simply uses the *memory address* of the seed.
For [example](https://github.com/facebookresearch/xformers/blob/main/xformers/triton/k_dropout.py):
[code]
Here seed is still a memory address and not an integer.

As a result, when `k_dropout_fw` is passed in two

[2022-01-05 09:59] fmassa commented on #152
@h-vetinari even if we were to package sputnik in a conda package, we would still need to have C++ / CUDA binaries compiled for torchvision, as we have our own kernels implemented [as well in the `csrc` folder](https://github.com/facebookresearch/xformers/tree/main/xformers/components/attention/csrc). So I would maybe not go this route for now.

The simplest for now is indeed to wait until PyTorch

[2022-01-05 19:57] erip commented on #169
Closed!

[2022-01-05 19:57] #169 closed

[2022-01-07 06:47] blefaudeux commented on #173
oh just seeing that, sorry for the delay !

[2022-01-07 06:49] blefaudeux commented on #173
I thought that I had a unit test for that, but actually that was not the case ([see](https://github.com/facebookresearch/xformers/blob/main/tests/test_triton_dropout.py#L93)). You're right, thanks for the report @tridao, it should be an easy fix

[2022-01-07 06:59] blefaudeux commented on #173
should be fixed, and sanity checking the speed it's not really changed

[2022-01-07 17:17] #173 closed

[2022-01-08 05:48] blefaudeux commented on #105
I've a proper causal product implemented in Triton on https://github.com/facebookresearch/xformers/tree/better_favor_with_triton, but looks like the same Triton bug as the one in https://github.com/facebookresearch/xformers/pull/162 is being triggered :( (and won't be fixed soon)

[2022-01-08 05:49] blefaudeux commented on #76
not too important now that all the triton layers have been significantly sped up

[2022-01-08 05:49] #76 closed

[2022-01-17 14:04] erip commented on #87
I can try to take this. I'll submit a PR later today!

[2022-01-17 16:31] erip commented on #87
Maybe to make sure I understand the ask, I see a few things:

1. xFormers doesn't support unbatched (2D) QKVs currently
2. xFormers doesn't support batched, but varying batch sizes between QKV
3. xFormers doesn't support >=4D QKVs (like [torchtext](https://github.com/pytorch/text/blob/main/torchtext/nn/modules/multiheadattention.py#L12-L16))

For the scope of a relevant PR, which aspects would you

[2022-01-17 17:57] blefaudeux commented on #87
sorry for the delay, and thanks for raising that @erip ! I did not explain this issue well enough, sorry about that, it was a brain dump at the time as I was having a look at salina. 2. is the issue I had in mind (one of the batch dims is 1 and we can broadcast it towards the others), but 1. would make sense also, as it's a one liner really.

The 4D case is basically handled within the MHA if I un

[2022-01-25 09:12] pl-ghost opened #193 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-26 15:41] fmassa opened #194 "Pre-commit broken on seed isort"
# 🐛 Bug

I just enabled the `pre-commit` hooks in my environment following the docs, and they seem to raise an error in an unrelated part of the codebase.

This is the error message I get after a `git commit`:

[code]

[2022-01-26 15:58] #87 closed

[2022-01-26 16:49] #41 closed, assigned to blefaudeux

[2022-01-26 16:51] blefaudeux commented on #194
oh interesting, I don't think that I've ever seen that one :/ looks like something which broke upstream

[2022-01-26 16:52] blefaudeux commented on #194
could you test on a newer python, like 3.9 ? Looks like it could be related to [importlib](https://github.com/pyinstaller/pyinstaller/commit/3fb624db62fd187a1dea1dee896b5fe8f3388bbb?branch=3fb624db62fd187a1dea1dee896b5fe8f3388bbb), although this is all new to me

[2022-01-31 23:28] xwhan commented on #194
I got the same error when using pre-commit :)

[2022-02-01 17:11] blefaudeux commented on #194
looks like we're not the only ones ([see](https://github.com/asottile/aspy.refactor_imports/issues/110)). Maybe that we could remove that step and trust black for all the import ordering for instance ? I did not have much time to look into this, sorry about that

[2022-02-02 03:34] blefaudeux commented on #194
ah wait, it's not isort directly but this 'seed isort' step, looking into that and fixing this

[2022-02-02 03:35] blefaudeux commented on #194
ok, depends on [this](https://github.com/asottile-archive/seed-isort-config) which is deprecated

[2022-02-02 17:00] #194 closed

[2022-02-03 16:52] blefaudeux commented on #153
blocked by current triton (consecutive matmuls in a given kernel are not well supported), sorry about that @gahdritz, I'll revisit this over time

[2022-02-03 17:39] jramapuram opened #203 "Can't pickle with xformers after 81bc427"
# 🐛 Bug

I'm running into pickling errors after commit https://github.com/facebookresearch/xformers/commit/81bc427fa5cd8feca5babef0d9ebe649170c83ac

Pickling is needed for some DDP contexts.

## Pseudocode

[code]

I haven't bisected, but on head (https://github.com/facebookresearch/xformers/commit/093224ec9c5486c7dc163b73532ced1c8a30b5e7 at this time) this results in:
[code]

## Expected behavior

[2022-02-03 17:45] blefaudeux commented on #203
oh, thanks for the report, this is unexpected ! (and the repro will make a perfect unit test so that this does not appear again)

[2022-02-03 17:49] blefaudeux commented on #203
ah, could be related to the FusedMLP which pulls in Triton, this would at least make sense with respect to the linked commit. Just in case, is triton installed on your machine ?

[2022-02-03 17:56] blefaudeux commented on #203
replying to myself: nope, this is not because of fusedMLP, I can repro indeed. Fixing that

[2022-02-03 17:58] jramapuram commented on #203
You beat me to it :). Let me know if you need anything else.

[2022-02-03 18:00] jramapuram commented on #203
Here is my config if helpful (it is pretty vanilla):

[code]

[2022-02-03 18:12] blefaudeux commented on #203
@jramapuram the above should work with https://github.com/facebookresearch/xformers/tree/pickling_tests, but pickling still dies on the triton parts which are JIT compiled, so if you switch MLP to FusedMLP it will crash on that :( Trying to find a global solution

[2022-02-03 18:15] jramapuram commented on #203
Got it; thanks for the quick turn around! This should be okay to get going in the meantime at least :)

[2022-02-03 18:27] blefaudeux commented on #203
I just updated the branch, make sure that you force pull, it was subtly buggy at some point (the init if k/q/v had different settings). The triton pickling part should be fixable but a bit short on time right now, checking back in a bit later. Putting up a draft PR

[2022-02-04 05:03] xwhan opened #205 "Issues when using blocksparse to build simple local block attentions"
# ❓ Questions and Help

@blefaudeux @dianaml0

1. I found the doc [here](https://github.com/facebookresearch/xformers/blob/main/HOWTO.md#blocksparseattention) is a bit confusing: it passed a layout of size [SEQ//BLOCK_SIZE, SEQ//BLOCK_SIZE] but the code comments [here](https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/blocksparse.py#L49) says the layout should ha

[2022-02-04 05:37] blefaudeux commented on #205
Hi @xwhan, thanks for the questions, we need to improve the doc !

1 - **Mask: [H, blocks, blocks] or [blocks, blocks] ?**
you can do both actually (head dimension or no head dimension). The caveat is that if your mask don't have a head dimension, then xformers will assume that you want to use the same mask across all heads. If your mask has a head dimension, then it can differ as you wish across

[2022-02-04 05:41] blefaudeux commented on #205
and as per your example
`blocks = seq_len // block_size
 layout = torch.eye(blocks)`
yes that works, all heads will use the same pattern (you will have a warning that the mask is extended to all heads) and it will be block diagonal (which is not the same as band diagonal, I'm sure you know but writing this down here if it helps somebody)

[2022-02-04 23:59] xwhan commented on #205
nvcc should give me the right version right? 11.4.2 still does not work for me

[2022-02-05 06:23] xwhan commented on #205
"Invalid image" resolved after updating to cuda 11.6

[2022-02-05 06:23] #205 closed

[2022-02-05 06:32] xwhan opened #206 "blocksparse gives RuntimeError: CUDA: Error- illegal address when increase the block size"
# 🐛 Bug

I'm not sure whether this is a bug or simply a restriction of triton. But when I follow you doc here https://github.com/facebookresearch/xformers/blob/main/HOWTO.md#blocksparseattention

The sample works fine but it does not work when I increase the block size.

## Command

## To Reproduce

Steps to reproduce the behavior:

Simply replacing your hyperparameter like this
BATCH = 1
HEADS =

[2022-02-05 06:48] blefaudeux commented on #206
Ah 512 is not an option, it's 16/32/64 top of mind, I need to guard that! Thanks a lot for the report @xwhan , will fix asap

[2022-02-05 06:50] blefaudeux commented on #205
Great, sorry for all the trouble, I'll keep this in mind if sombedoy gets the same issue. I forgot to mention that but I've been using 11.5 without problems

[2022-02-05 06:55] blefaudeux commented on #206
I was wrong with 64, needs to be a multiple of 16 (because of tensor cores) but no obvious upper bound, except that you don't really win above a given size (you can repro a 512 block with multiple 64 blocks of course). I'll add an assert to make sure that users stay within reasonable bounds

[2022-02-07 02:23] #206 closed

[2022-02-07 07:05] xwhan commented on #206
Thanks @blefaudeux, not sure if I understand correctly about "repro a 512 block with 64 blocks" --- the softmax will still be calculated within each 64-size block size

[2022-02-16 19:00] blefaudeux commented on #203
@jramapuram late thought, I've been meaning to write back but time flew.. It's a bit strange to me that you have to pickle the model, it's not typically considered good practice, each of the processes that DDP spawns should be able to rebuild the whole context by itself (you just need to be careful about the seeds which need to be set on each process, but it's typically a good idea anyway). Someth

[2022-02-16 19:39] jramapuram commented on #203
@blefaudeux : this was with some prototype pytorch-lightning code. I'm guessing they use the old `mp.spawn` method instead of something like `torchrun` (which we typically use 😄  ) to spinup K processes per GPU.

Good shout on the dataloaders, already seeding those with replica_id from the world pool already 👍

[2022-02-24 09:17] DongChanS opened #218 "Does xformers support incremental decoding?"
# ❓ Questions and Help
I want to use transformer decoder for **incremental decoding**
For example, the [fairseq framework](https://github.com/pytorch/fairseq/blob/main/fairseq/models/transformer/transformer_decoder.py#L186) supports incremental decoding

Can i use xformers for incremental decoding?

[2022-03-01 10:59] jramapuram opened #219 "xformers ViT-B ImageNet training instability compared to timm"
# 🐛 Bug

I'm trying to create a 1:1 config that can train a stable ViT-B with the MAE config (from appendix A.2).

Maybe I'm missing something (highly plausible), but when I use xformers instead of timm it creates an unstable training scenario [over numerous trials] with exactly the same hyper-parameters (batch_size=4096 + cutmix + mixup + label smoothing + AdamW[0.9, 0.95], lr=1e-4 [with scaling

[2022-03-01 17:39] blefaudeux commented on #219
thanks for the issue, just saw that, looking into it !

[2022-03-01 17:43] blefaudeux commented on #219
@jramapuram can you elaborate on your config, do you have Triton for instance ? Could you share a print(model) here, to be sure of what parts are actually instantiated ? After a quick look it seems that there could be a part where the gradients are not handled up to the same precision as torch, at least that's my #1 hypothesis

[2022-03-01 17:43] blefaudeux commented on #219
many thanks for the detailed issue and code snippets, this is perfect

[2022-03-01 17:58] blefaudeux commented on #218
cc @dianaml0, @iyerr3. Not yet sorry, ideally there could be an optimized part for that (ie the torch implementation from fairseq is probably slow), it's a very common request actually

[2022-03-01 18:15] blefaudeux commented on #219
if you're using Triton, could you test out installing a recent dev package ? `pip install triton==1.1.2.dev20220106`

[2022-03-01 18:23] blefaudeux commented on #219
also @jramapuram could you confirm that this is with torch AMP ? (fp16)

[2022-03-01 18:29] blefaudeux commented on #219
cc @dianaml0, @fmassa, is that something that you've seen ? I remember @xwhan saw that at some point, but I thought that this was fixed. I just did a quick check in the triton code, and we're keeping the data type as fp32 in the softmax and layernorm case when AMP is activated, which should lead to the same precision as pytorch (layernorm is a bit below). It looks like a vanishing gradient problem

[2022-03-01 18:49] blefaudeux commented on #219
@jramapuram the eps parameter for LayerNorm is not the same in between timm and xformers (1e-5 vs. 1e-6), it's a long shot but since your issue could be related to vanishing gradient, could explain. Fixing that

[2022-03-01 19:21] jramapuram commented on #219
Filling in details:
- AMP FP16 ✅
- triton==1.1.1 ( can test 1.1.2.dev20220106 👍  )
- Will try the layernorm eps; good find! Might be relevant for AMP

Instantiated model print to STDOUT: https://gist.github.com/jramapuram/d284e0f261d3fdb15c213dd929d272b9

[2022-03-01 19:32] blefaudeux commented on #219
I can repro the problem with the minimal microViT example actually (prior to the linked PRs), just need to wait long enough. Testing right now with the changes from the linked PRs

[2022-03-01 22:40] blefaudeux commented on #219
seems fine with the updated eps @jramapuram, let me know if it fixes your issue ?

[2022-03-01 22:42] jramapuram commented on #219
Training now; will update here :)

[code]

[2022-03-02 16:17] jramapuram commented on #219
@blefaudeux : Unfortunately this has not seemed to fix it for me 😬 . Not sure if the scaling from microViT --> ViT-B ImageNet might be causing some issues that are not easily evident.

With LN fix using function above:
![image](https://user-images.githubusercontent.com/8204807/156363286-ae507064-9002-4aa3-af34-e95f2dd98272.png)

With Triton `1.1.2.dev20220106` (tested with pip freeze to validate)

[2022-03-02 17:10] blefaudeux commented on #219
ouch, this is not good.. the issue auto-closed it seems, but keeping it open, I'll try to dig a bit more

[2022-03-02 17:16] blefaudeux commented on #219
@jramapuram to try to pinpoint this a little better (and if you have time), could you try in an environment which does not have Triton ? a few parts will default switch to PyTorch, if you don't see an issue there then I would know where to look (well, softmax and layernorm)

[2022-03-02 17:32] blefaudeux commented on #219
Else I can think of different init strategies for the weights (probable but kind of unlikely that it explains I think) or shared weights in the projection, looking into Timm's implementation. I can confirm that it does not happen on cifar and a smaller ViT unfortunately, would have been nice to have an easy repro

[2022-03-02 17:41] blefaudeux commented on #219
testing with pure pytorch layers right now, and I'm not seeing any difference so far, so might not be a good explanation

[2022-03-02 18:03] blefaudeux commented on #219
init is different indeed, [see ](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py#L393) for instance, while xformers mostly follows default pytorch

the projection seems to follow the same structure, n x 3n matrix + bias, nothing different here

nope, Pre-norm in both  cases

[2022-03-02 18:09] jramapuram commented on #219
- Will try vanilla pytorch (without triton) on ImgNet for my own sanity as well 😅
- PreNorm ✅
- I do the custom TIMM init already (see code above which distills [this](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py#L393) ; will also try a lower std (std=0.01) as well.):
[code]
@blefaudeux : are there any `xformers` linear layers that don't inherit `

[2022-03-02 18:19] blefaudeux commented on #219
ahh, I didn't know for the init on your side, so this rules it out also !

No I don't think so, although fused MLP uses a normal nn.Linear but fuses the dropout/bias/activation (so the bias init would be missed). It does not seem like you're using fusedMLP so it should not be the case

No problem, this is a little perplexing to be honest, but we'll root it out !

[2022-03-02 18:31] blefaudeux commented on #203
Closing that for now, I don't think that it's actually possible to pickle the Triton parts since they are compiled JIT and that this is beyond the pickling mechanism. A fallback is to not use triton if this is required

[2022-03-02 18:31] #203 closed

[2022-03-02 18:46] blefaudeux commented on #219
seeing your curves, it does seem a little different from what I was seeing prior to the eps adjustment: validation accuracy was collapsing in the microViT example / CIFAR, but over many steps, while yours looks like a complete breakdown, one update completely breaks the model. Really looks like a raw fp16 representation problem, an underflow or overflow would look like that

[2022-03-02 19:33] blefaudeux commented on #219
hmm turns out I was testing with rotary embeddings turned on, and they make a huge difference

[2022-03-03 00:14] blefaudeux commented on #219
hmm @jramapuram, if you have some free cycles could you test out with Triton and with FusedMLP actually ? I'm getting more stable results vs. MLP, still investigating

[2022-03-03 10:22] jramapuram commented on #219
Lower std on trunc normal init (0.01):
![image](https://user-images.githubusercontent.com/8204807/156474949-96eb8a32-3d5c-45be-866b-f0f1436dbe0c.png)

Without triton:
![image](https://user-images.githubusercontent.com/8204807/156545108-949eb862-e97a-4767-b0c3-d6a9ffe498b2.png)
[code]

FusedMLP:
![image](https://user-images.githubusercontent.com/8204807/156541108-a18ab1e6-5f79-45d9-900c-06e6447fcdb

[2022-03-03 13:48] Tomsen1410 opened #224 "Is it safe to use mixed precision training with kernel-based attention mechanisms?"
# ❓ Questions and Help

I wanted to ask whether it is safe to use e.g. nystrom or favor attention with mixed precision (or full fp16) training?

[2022-03-03 16:36] blefaudeux commented on #224
Yes it is, it should be unit tested for most of them actually. Please report any issues !

[2022-03-03 16:37] blefaudeux commented on #219
thanks @jramapuram, it's very informative, so no issues with the triton layers whatsover, the problem is in a pure pytorch definition.. :/

[2022-03-03 16:54] blefaudeux commented on #219
checking for what could cause an underflow or overflow in between Timm's implementation and ours, looks like the sqrt(d) normalization is done post-hoc in timm ([see](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py#L222)) while we do it prior to computing the attention ([see](https://github.com/facebookresearch/xformers/blob/dc80aeb7990889752b67d07ba

[2022-03-03 23:21] blefaudeux commented on #219
oh @jramapuram, something else which could be significant: you can check out [this paper](https://arxiv.org/pdf/2106.10270.pdf) (end of page 3) and the matching timm-vit model, Ross drops the hidden layer in the last block citing "training unstabilities" ! I'll add an option to xformers to be able to do this from the config side (pass "multiplier" == -1), it could well be the reason

[2022-03-03 23:24] blefaudeux opened #226 "[feat] Make it possible to skip the hidden layer in the feedforward"
# 🚀 Feature
- Change the feedforwards so that passing a multiplier of -1 skips the hidden layer
- [optional] Create a flag for xformer which does that automatically

## Motivation
- Make it easier to align with Timm
- See https://github.com/facebookresearch/xformers/issues/219 and https://arxiv.org/pdf/2106.10270.pdf (end of page 3)
- Not hard to do, no side effects

## Pitch

## Alternatives
Let

[2022-03-03 23:27] blefaudeux commented on #226
false flag, probably easier to do this with a dedicated head anyway, sorry for the noise

[2022-03-03 23:27] #226 closed

[2022-03-03 23:27] blefaudeux commented on #224
closing, feel free to reopen !

[2022-03-03 23:27] #224 closed

[2022-03-03 23:28] blefaudeux commented on #218
closing, the short term answer is no then, I'll defer to @dianaml0 for long term plans !

[2022-03-03 23:28] #218 closed

[2022-03-05 16:06] jramapuram commented on #219
Running with `issue_219` branch 😢  :

<img width="1204" alt="image" src="https://user-images.githubusercontent.com/8204807/156891031-6f02d960-b971-4f8e-b6c0-d4945cd4db4f.png">

[code]

[2022-03-06 01:15] blefaudeux commented on #219
thanks a lot of the test, it's really perplexing.. @fmassa has been using some xformers block a lot with imagenet, but not the whole model, I don't remember him getting this. I'll check the weight inits as soon as I get the time, sorry for the delay

[2022-03-07 17:44] blefaudeux commented on #219
Hey @jramapuram, back to you ! We can exchange by mail if that helps, I'd really love to get to the bottom of this. I'm adding DeepNet to xformers, some of the issues mentioned with pre-ln look like they could apply here (although it does not exaplain why Timm's implementation does not face the same instabilities). Current thoughts are that it could be related to weight init (I know that you're ha

[2022-03-07 17:51] blefaudeux opened #227 "[feat] Add DeepNorm/DeepNet residual path"
# 🚀 Feature
See https://arxiv.org/abs/2203.00555v1, combination of init + residual path
The residual path is already modular in xformers, it should be possible to add this in a very clean way

## Motivation
Seems better all around, worth testing it out and exposing the option

## Pitch
Add another residual path definition on top of preLN/postLN

## Alternatives
Not doing it

## Additional context

[2022-03-07 17:52] blefaudeux commented on #227
cc @dianaml0 @fmassa

[2022-03-09 00:04] colehawkins opened #231 "Is bfloat16 supported?"
I try to run this example: https://github.com/facebookresearch/xformers/blob/main/HOWTO.md#blocksparseattention but change the dtype to bfloat16 and cast everything to bfloat16. The error I get is
[code]
Triton 2.0 appears to support bfloat16, but I'm not sure if Triton 1.X used by xformers should support bfloat16 or if xformers should/will support bfloat16.

[2022-03-09 05:14] blefaudeux commented on #231
thanks for filing in the issue ! right now triton 1.x is the only stable version, so that's what we support, but the plan is to move to triton 2 as soon as it's out, and this is tied with bfloat16 support indeed. cc @ptillet @dianaml0

[2022-03-09 22:42] blefaudeux commented on #219
hey there, so I just had time to have another look, weight-init focused. It seems that the `_init_vit_weights()` does not apply to the attention projection steps, which are wrapped in the `InProjContainer`, it's visible if you change init_vit_weights to

def _init_vit_weights(module: nn.Module):
    """Transformer weight initialization from TIMM."""

[code]
Unless I'm mistaken, it looks like the I

[2022-03-11 16:47] blefaudeux commented on #231
one thing we could do is support it in /experimental, this part is CI-tested still but not part of the pip package, and it already depends on triton2.0. Thoughts @dianaml0 ?

[2022-03-11 18:45] dianaml0 commented on #231
That could work, since we'll eventually want to support it anyway. Do we know when triton 2.0 will be out?

[2022-03-11 21:32] jramapuram commented on #219
Sorry for the delayed response. Is it possible to expose the `InProjContainer` s.t. it can be init-d by a check to `nn.Linear`?

I'm also pulling in `pre_post_norm_fix` and testing with the above init @blefaudeux . Will keep you apprised.

[2022-03-11 21:37] blefaudeux commented on #219
totally, https://github.com/facebookresearch/xformers/tree/issue_219_param_init_fix is doing that (trying to get to a better projection block, while still flexible enough to support NLP). It's still buggy though as per unit tests checks, not completely sure why as of now, trying to fix that soonish

[2022-03-12 00:55] jramapuram commented on #219
@blefaudeux: prelim results from `pre_post_norm_fix` are looking good! Will post final graph comparing to timm when done!

![image](https://user-images.githubusercontent.com/8204807/157996686-82420677-899a-4a6d-98b9-8851a95068d4.png)

Good thoughts on the InProjContainer! Here are the list of modules not updated for ref (I'm sure you found this already :))

[code]

[2022-03-13 13:21] jramapuram commented on #219
<img width="1271" alt="image" src="https://user-images.githubusercontent.com/8204807/158061290-0093f043-425b-496c-bd6d-bcd9a4b26e61.png">
@blefaudeux : looks within tolerance! Thanks! Closing this issue.

[2022-03-14 00:09] blefaudeux commented on #219
Thanks a lot @jramapuram for bearing with me on this and for all the testing, really appreciated!

[2022-03-14 19:55] #227 closed

[2022-03-15 23:12] colehawkins commented on #231
@dianaml0 @blefaudeux Happy to pitch in by supporting block-sparse attention through the triton 2.0 dev branch and writing some tests.

[2022-03-15 23:22] ptillet commented on #231
@dianaml0 I could probably release some v2.0alpha if it helps. I believe most of the features are there. But there should be more docs and bugfixes before the final release :)

[2022-03-16 02:44] blefaudeux commented on #231
that would be great @colehawkins , pull me in anytime if I can help ! Anything in experimental/tests runs with triton2.0 on the CI already, I hope that helps. I'll also be migrating the memory-efficient implementation there soon, hoping to get it to work with triton 2 finally

[2022-03-17 21:29] blefaudeux opened #240 "[bug] Compositional attention test failing"
# 🐛 Bug
See https://github.com/facebookresearch/xformers/pull/239, hopefully not a super big issue but needs fixing

[2022-03-17 21:29] blefaudeux commented on #240
cc @dianaml0 @coleholcomb

[2022-03-22 13:30] stephantul opened #244 "Config does not support model_dim that does not match attention model_dim"
# 🐛 Bug

Adding a `dim_model` within a `position_encoding_config` that is not equal to the `dim_model` of the rest of the model results in an unusable model, as the result of the embedding layer is no longer compatible with the feedforward  layers within the attention blocks.

This looks like a bug to me, since it doesn't ever allow you to specify a `dim_model` in the vocabulary that is not equal

[2022-03-22 15:40] blefaudeux commented on #244
Hi @stephantul, thanks for the report ! I agree with the error flagging, it's done down the line since the dimensions do not match but we could either catch that at config building time (a) or add an error message on top of this 'RuntimeError' (b) to make it a little easier to debug. I think that we should add a dimensionality check, option (a), feels like a relatively easy take.

Note that if I r

[2022-03-22 16:38] jramapuram opened #246 "JIT scripting is broken"
# 🐛 Bug
JIT scripting xformers (running commit 357545ae13948659db07428553155e1802ee15af)  breaks with the following error:

[code]

## To Reproduce

Blocks config:
[code]

Python code to repro:
[code]

[2022-03-22 18:05] stephantul commented on #244
Hi @blefaudeux,

Thanks for the quick response! I got the idea from [this repo](https://github.com/lucidrains/electra-pytorch/blob/master/pretraining/openwebtext/pretrain.py#L129). In this electra implementation, the embeddings of the discriminator and the generator are tied, but the hidden dimension of the discriminator is 256, while the hidden size of the generator is 64. This size discrepancy i

[2022-03-22 18:42] blefaudeux commented on #244
Sounds like a plan, I like the idea actually, seems like a good fit with the existing codebase, can be extended to do just that J believe

I can have a look later (time permitting) or feel free to submit a PR if you'd like

[2022-03-23 15:54] stephantul commented on #244
@blefaudeux I submitted a PR that automatically inserts projectors. Initially, I wrote it so it would add projects in between everything (i.e., mha, ff, ln), but that got a bit messy and needs a nicer solution, so I rolled back to this. I also think there is far less demand for mismatching dims between mha and ff.

[2022-03-24 17:21] blefaudeux opened #251 "Fix the doc build"
# 🐛 Bug
Looks like some packages were updated, and not the doc build fails..
https://app.circleci.com/pipelines/github/facebookresearch/xformers/1194/workflows/a35cd7e0-db91-4b4b-9974-96bf324c0499/jobs/2494

## To Reproduce
`cd docs; pip install -r requirements.txt; make html`

[2022-03-24 17:23] blefaudeux commented on #246
ah, torch script is annoyingly fragile.. This part is being completely rewritten by @fmassa, but in the meantime probably that we can remove the assert, more of a failsafe really

[2022-03-24 17:28] blefaudeux commented on #246
Thanks for the issue and repro steps @jramapuram, super helpful !

[2022-03-24 17:47] #251 closed

[2022-03-24 18:13] jramapuram commented on #246
Indeed; got to love when you have to be verbose about stuff like this:
[code]

I mean I get why, but doesn't hurt any less :)

[2022-03-24 22:45] jramapuram commented on #246
Thanks @blefaudeux !

[2022-03-25 11:57] jramapuram commented on #246
Not sure this is resolved, sorry! 😬
[code]

[2022-03-25 16:02] blefaudeux commented on #246
ok sorry about that, I'll write that down as a unit test, I should have done that from the beginning..

[2022-03-25 16:45] erip commented on #246
Note that this was discussed previous in #168.

[2022-03-28 22:06] #244 closed

[2022-04-01 11:37] fmassa commented on #246
I would stick with my initial comment from https://github.com/facebookresearch/xformers/issues/168#issuecomment-1004021020 that it might be preferable to stay away from torchscript support. Happy to reconsider this decision though, but I think the days of torchscript might be counted in favor of other approaches that work directly on Python.

[2022-04-01 12:10] erip commented on #246
Only slightly related, but is there something we (non-meta'ers) can read about the sunsetting of torchscript?

[2022-04-04 20:22] Tomsen1410 opened #256 "fourier_mix attention does not support mixed precision training"
Fourier mix attention does not support half precision.

[code]

[2022-04-06 03:40] blefaudeux commented on #256
thanks for the report ! Looks like it's pretty low level, in the fft op, I'll have a look

[2022-04-06 04:08] blefaudeux commented on #256
fixed in an incoming branch @Tomsen1410, not a big issue (we can force this very line to stay fp32 and keep AMP, unless you want to use that with the whole model being half, but guess is no)

[2022-04-06 10:40] jramapuram commented on #246
@fmassa : correct me if I'm wrong here but JIT scripting != module packaging / deployment? I get that most folks use jit-scripting for this use case, but aren't there model optimizations (eg: inlining for loops, etc) that also take place with jit-scripting that aren't touched with `torch.package`?

[2022-04-06 17:42] #256 closed

[2022-04-07 03:20] blefaudeux opened #259 "[feat] Simplicial Embeddings"
# 🚀 Feature
Add the [simplicial embeddings](https://arxiv.org/abs/2204.00616) to xformers

## Motivation
Seems pretty interesting, easy to integrate, and great results on SSL / vision

## Pitch
Write a PR and see how that looks

## Alternatives
Go skiing

## Additional context
see linked paper

[2022-04-07 03:31] blefaudeux commented on #259
in the paper it's proposed as an addition at the bottom of the encoder, to force the final representation into L hopefully more or less orthogonal vectors

![Screenshot from 2022-04-06 20-30-05](https://user-images.githubusercontent.com/3072861/162114609-73f9c641-ca9d-4043-a8d3-1f70334fd271.png)

[2022-04-07 16:44] blefaudeux opened #262 "[feat] Add smooth relu to the fused linear layer (triton) activations"
# 🚀 Feature
Should be super easy to add [in there](https://github.com/facebookresearch/xformers/blob/main/xformers/triton/k_activations.py), would be interesting to see it benchmarked down the line

## Motivation
See [this](https://ai.googleblog.com/2022/04/reproducibility-in-deep-learning-and.html) and [that](https://arxiv.org/abs/2202.06499)

## Pitch
- easy thing to add
- triton should be fairl

[2022-04-07 22:13] h-vetinari commented on #152
Now that we have triton in conda-forge, I wanted to tackle this again, but noticed that I had falsely assumed that pyre is already in conda-forge: https://github.com/conda-forge/staged-recipes/issues/18617.

I assume the `pyre-extensions` aren't optional here?

[2022-04-08 20:44] #259 closed

[2022-04-08 23:34] dnnspark opened #264 "Assertion on linear projection of queries"
# ❓ Questions and Help
I'm trying to implement [Perceiver](https://arxiv.org/abs/2103.03206) using xformers, and stumbled upon [this assertion](https://github.com/facebookresearch/xformers/blob/main/xformers/components/in_proj_container.py#L73).  This assertion prohibits reimplementing the algorithm as appeared in the Fig 1. of the paper. i.e,  target: `NxD`, src: `MxC` -> attention shape: `NxM`.

[2022-04-09 14:10] david-macleod opened #265 "Rotary Embeddings + Triton"
# 🚀 Feature

There is a suggestion here that the [next step ](https://github.com/facebookresearch/xformers/blob/main/xformers/components/positional_embedding/rotary.py#L8 )for rotary embeddings are to use Triton. I would be keen to have a go at implementing this, or is this already work in progress?

Thanks!

[2022-04-11 18:29] blefaudeux commented on #152
sorry for the delay @h-vetinari , and thanks for getting back to us !
nice, I didn't know that you had triton, do you track the recent releases by any chance (v 2+) or is that "just" the stable version (1.x) ?
Else right now pyre-extensions is not optional if my memory serves me well, @pradeep90 would be a good resource if there are corners to iron out and if we can help in general ?

[2022-04-12 04:14] moinnadeem commented on #71
@ClashLuke @blefaudeux Out of curiosity, is the GLU kernels added into dev? I can't find them on the documentation or `xformers.triton` folder. I would definitely be a user of them if we had them!

[2022-04-12 23:19] h-vetinari commented on #152
Triton was [added](https://github.com/conda-forge/triton-feedstock) to conda-forge recently, though it's been a long time coming in https://github.com/conda-forge/staged-recipes/pull/17310 (we also did cutlass beforehand, before finding out that triton doesn't need/support it anymore).

I'm not aware of a v2, we're tracking the upstream repo, and there [all I see](https://github.com/openai/triton/

[2022-04-13 02:29] blefaudeux commented on #256
@Tomsen1410 can you confirm that it's all good on your end ?

[2022-04-13 02:36] blefaudeux commented on #265
hi @david-macleod, seeing that a bit late, sorry about that and thanks for reaching out !  Nothing started that I know of, it would be great indeed, and good match with current PRs like #263 and  #248 (a bit stuck by the testing system right now :( working on that but short on time).

I you get started on that, I would recommend:
- writing a small benchmark + parity test as a very first step, give

[2022-04-13 02:40] blefaudeux commented on #264
hi @dnnspark, thanks for your message ! Replying to 1. first, can you walk me through the problem ? I may be a little tired but I don't see the issue right now ? dim_k is defined as dim_key // num_heads (ok, the choice of letters is probably not great), so it looks like we're talking about the same thing.
Looking into 2. :)

[2022-04-13 02:49] blefaudeux commented on #264
ok, 2. now:
- it's not a part of the repo that I personally like a lot (I wrote a big part of it, I'm probably allowed to say that), it's too complicated and confusing for what it does. The gist of it was to enable a self-attention small optim (project with one buffer, you save a lot of reads, that's [here](https://github.com/facebookresearch/xformers/blob/main/xformers/components/in_proj_containe

[2022-04-13 03:40] dnnspark commented on #264
Hi @blefaudeux, thanks for checking!

For 1, becasue the input of the `forward()` are query, key, value with no constraints on their shape (e.g. assertion or docstring), I was assuming it works in general scenarios.  Let's say the shape of query, key, value are (4, 24, 300), (4, 36, 300), (4, 36, 200) respectively (batch_size=4) -- they are projected from source and target data outside of this fun

[2022-04-13 03:56] blefaudeux commented on #264
aah yes I see your point now, yes it implicitly assumes the same dimension everywhere, that's bad. Can be fixed, I'm trying to get out of a CI quagmire and will submit a PR, or feel free to do that if you fancy it

[2022-04-13 03:57] blefaudeux commented on #264
oh, let me just volley a PR right now for 1. and this will be fixed. one sec

[2022-04-13 07:55] dnnspark commented on #264
Hey @blefaudeux, with a second thought, I think you're right about this dimension issue. In my example above, there's a flaw:

It's actually not the same shape of query input: (4, 24, 300). So I think the dimensions of all inputs (query, key, value) has to be always same. In that case, the first assertion is actually correct, even though the name is a bit confusing.

[2022-04-13 08:46] pradeep90 commented on #152
Hi, `pyre-extensions` doesn't depend on Pyre or watchman. It's just a small utility library: https://pypi.org/project/pyre-extensions/

(We use it to dogfood shape types for Tensors (https://github.com/facebookresearch/xformers/issues/43))

[2022-04-21 15:59] #231 closed

[2022-04-21 16:00] blefaudeux commented on #231
Should be good to go !

[2022-04-27 20:40] jramapuram commented on #219
@blefaudeux : any thoughts on what might be missing an init with Deepnorm [running into NaNs again around 50 epochs in again 😭 ] ? Tried the following:
1. Same init as above.
2. No init as I know that deepnorm has a custom beta term for weights and alpha for layernorm.

Still is working fine with prenorm though

[2022-04-27 21:32] blefaudeux commented on #219
hey @jramapuram, thanks for the report ! I'm guessing that this is with AMP ? not sure right now but I'll have a look !

[2022-04-28 05:07] blefaudeux commented on #219
It's kind of interesting that the instability is in DeepNorm there, as it should help instabilities :D [Paper](https://arxiv.org/pdf/2203.00555v1.pdf) for reference

[2022-04-28 05:18] blefaudeux commented on #219
Ah, so one issue is that the Deepnorm init looks for the Value projection, but in the case of the self-attention there's only one weight module for all, and it does not get scaled. [See](https://github.com/facebookresearch/xformers/blob/main/xformers/components/in_proj_container.py#L98)

[2022-04-28 20:54] blefaudeux opened #285 "Support natively Swin or Poolformer architectures"
# 🚀 Feature
These transformers follow a transformation similar to the typical convnets, trading width for latent space the deeper you go. This has proven to be very efficient in the CV domain. It's possible to generate these models right now in xformers but a bit cumbersome, it could be nice to have a small helper for that (adds the pooling and fill in the dimensions for each layer)

## Motivation

[2022-04-28 20:56] blefaudeux opened #286 "Layernorm & Dropout + BF16"
# 🐛 Bug
cf. https://github.com/SeanNaren/SmallScience/issues/10, layernorm seems to error out with bf16
Should not be too bad

edit:
- layer norm is fine
- dropout errors out indeed

[2022-04-29 16:11] colehawkins opened #289 "Support for attention masks in blocksparse layers"
# 🚀 Feature

Support for attention masks in blocksparse layers.

## Motivation

It would be nice.

## Pitch

We can pre-collect indices based on the sparse layout with this code when we run `create_triton_kernels`:

[code]

Then we reshape and collect indices from the attention mask in the `forward`:
[code]

## Alternatives

We could additionally support a 2D dense attention masking by calling `tr

[2022-04-29 22:05] blefaudeux commented on #289
cc @ptillet :D

[2022-04-29 22:06] blefaudeux commented on #286
I'm having a look at dropout, there's an easy fallback (catch and cast) but this destroys the perf, I'm checking with the Triton folks whether there's a better option

[2022-04-29 22:30] SeanNaren commented on #286
Thanks a tonne!!

[2022-05-01 02:09] jramapuram commented on #219
Sorry for the delay! Testing now, but blocked due to the triton version bump:

[code]
Guessing this is due to https://github.com/facebookresearch/xformers/pull/272 -- is the recommended version `pip install triton==2.0.0.dev20220430` ?

Need to see if we can bump to triton2  without breaking deepspeed.

[2022-05-01 03:25] jramapuram opened #290 "Can't deepcopy an xformer model with triton 2 update"
# 🐛 Bug

Given the recent triton2 update an xformer model cannot be deep-copied. This is an important requirement for numerous tasks including EMA (without knowledge of the generating class / hyper-params).

## xformers ViT-B Config

[code]

## To reproduce

[code]

Error is:
[code]

[2022-05-01 03:25] jramapuram commented on #219
Bumped to triton2 but am now blocked via https://github.com/facebookresearch/xformers/issues/290 😭

[2022-05-01 03:31] blefaudeux commented on #290
Oh jeez.. OK, you can remove triton from your env and this should unlock short term, I'll have a look in the meantime :)

[2022-05-01 03:39] jramapuram commented on #219
Will test without triton and report back

[2022-05-01 18:18] Hdhjsjj opened #291 "Abo harb he test do the hack"
# 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:

[code]

- PyTorch Version (e.g., 1.0):
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, source):
- Build

[2022-05-02 07:19] jramapuram commented on #219
@blefaudeux : Disabled triton and still NaN-ing.

[2022-05-02 13:13] jramapuram commented on #290
For ref even the SWA impl in vanilla pytorch relies on deepcopy: https://github.com/pytorch/pytorch/blob/master/torch/optim/swa_utils.py#L100 -- not being able to EMA is a ~1-2% loss in overall perf 😬

[2022-05-02 16:48] blefaudeux commented on #291
hmm, spam I guess ?

[2022-05-02 16:48] #291 closed

[2022-05-02 19:36] blefaudeux commented on #219
thanks for the test and report ! so I assume that this is with the same LR schedule (and possible grad cap) as pre-norm, pre-norm works and is at parity with Timm but deepnorm NaNs (I presume following gradient explosion). Capping the gradients is not enough ? I don't have an easy way to repro myself as of now (doable but would take a lot of time), trying to think that out is another option... It'

[2022-05-03 04:24] blefaudeux commented on #15
closing that for now since it's not actively being worked on, feel free to reopen anytime !

[2022-05-03 04:24] #15 closed

[2022-05-03 04:33] blefaudeux commented on #289
hey @colehawkins, sorry for the delay, thanks for the issue and detailed suggestion, I think it's a great idea ! I think it could be something to upstream to triton directly actually, on the blocksparse side we just consume their op and they are PR-friendly. If it's not an option we could certainly fork the upstream kernel and host it here, but I would try to upstream it first and only use that as

[2022-05-03 04:35] blefaudeux commented on #285
This is what I mean. We already insert the patch projection layer automatically, so it's just a matter of writing a small helper on the sidelines to autogenerate the right dimension sequence

![Screenshot from 2022-05-02 21-30-07](https://user-images.githubusercontent.com/3072861/166405041-862a09c9-cb4c-4deb-9851-6152476c2a26.png)
![Screenshot from 2022-05-02 21-29-44](https://user-images.githubus

[2022-05-03 04:37] blefaudeux commented on #285
for reference, [poolformer](https://arxiv.org/pdf/2111.11418.pdf) and [swin](https://arxiv.org/pdf/2103.14030.pdf)

[2022-05-03 10:22] colehawkins commented on #289
@blefaudeux thanks for the feedback! I’m happy to proceed with either solution.

[2022-05-03 17:39] blefaudeux commented on #219
thanks @jramapuram for the precision, I must have missed something in the paper, I'll have another look. It would be great if I can come up with a test which does not involve IN, that's a little too big for a regression check, I'll see what I can find :)

[2022-05-03 23:43] #153 closed

[2022-05-05 02:19] blefaudeux commented on #219
I'm thinking that there may be a remaining issue with the weights init in the self-attention case, where the dimensions for fan_in/fan_out would be skewed because we merge the 3 projections. Having a look asap, but reasonably within a couple of days

[2022-05-05 02:24] blefaudeux commented on #286
Quick update in that the work is ongoing, it's on the Triton side (well, LLVM actually) but being fixed by Phil Tillet and team

[2022-05-05 19:29] blefaudeux opened #296 "Update the fusedlinear perf curves"
# 🐛 Bug
See https://github.com/facebookresearch/xformers/pull/283 and a discussion with @ptillet, I could not repro these curves even on my machine, must be some combo of a specific dev triton package and cuda version.

[2022-05-08 20:42] david-macleod commented on #265
Hi @blefaudeux, I will share some timings soon but it initially looks promising, primarily because `torch.jit` appears to be able to fuse `apply_rotary_pos_emb` into a single kernel for the non-autograd scenario (forward only), but fails to fuse the cat op in the autograd case. Additionally it fails to create a single fused kernel for NvFuser in half precision e.g. `torch.jit.fuser("fuser2")` even

[2022-05-09 14:36] blefaudeux commented on #265
Hey David, sorry for the delay, sounds great ! Yes for torchscript, I'm not too surprised, but I thought that nvfuser would do a better job here, from a distance. Good to know

Oh great if you already have something at parity for a batch 1, scaling that should not be a super big issue ! Tentatively replying below

top of mind it came from a dropout or layernorm tutorial some time ago, but these ha

[2022-05-09 15:22] ptillet commented on #265
Yes, @blefaudeux is correct, so I don't have much to add and will just repeat differently :p

BLOCK_SIZE isn't a Triton keyword, it is just a constexpr for the tile sizes in the tutorial kernel. Having a BLOCK_SIZE=1024 in the case of the vecadd/norm tutorials just means that each program id will process 1024 elements.

Orthogonally, each Triton kernel is launch with a thread block size of 32*num_

[2022-05-09 23:57] #285 closed

[2022-05-10 18:01] #262 closed

[2022-05-13 04:20] ptillet commented on #265
Ha, that's a good question. A lot of kernels can still work when the block size is a multiple of 32*num_warps. But (1) we want num_warps to be purely an optimization, meaning that it shouldn't affect the specs of the language; (2) there are a few places where the compiler assumes that shapes are a power-of-two; (3) some future hardware architectures may not even have a concept of warps, and we wan

[2022-05-16 11:20] jramapuram commented on #219
Still no joy on ef6de0faa8bacf91d9fb83ed733ffa0546d85db9 😬 . Will show pre-norm plot for comparison soon.

Here I only init just the `pos_embed` and `cls_token` with `trunc_normal_(std=0.02)` and use DeepNorm:
![image](https://user-images.githubusercontent.com/8204807/168581387-1cc14754-07f4-4a40-9ced-b4eb40b1e2bb.png)
![image](https://user-images.githubusercontent.com/8204807/168581452-0e214b1e-3

[2022-05-16 16:10] blefaudeux commented on #219
oh yes for current main branch, nothing landed addressing this yet. Could you try https://github.com/facebookresearch/xformers/pull/303 by any chance ? I can try to start something later today, but a little bit underwater atm :/

[2022-05-16 19:36] jramapuram commented on #219
No worries! Will give that a shot :) -- I added the reference pre-norm graphs above. Differences are basically:

[2022-05-19 04:32] blefaudeux commented on #219
oh wow, it's pretty clear indeed, thanks @jramapuram. #303 is definitely fixing a small bug, but I doubt that it explains this really, I'll dive back into deepnorm. I may have a repro actually, with the recent metaformer+cifar10 deepnorm does not work either but I thought that was because of the decidely different model structure. I'll give it a second look, sorry for the delay

[2022-05-19 17:55] blefaudeux commented on #289
no pressure, I was just trying to triage a little !

[2022-05-20 23:56] blefaudeux commented on #219
hmm, I did spend some time on that and found nothing obviously wrong, it's really perplexing. I'll give IN a shot

[2022-05-21 00:41] blefaudeux commented on #219
Just in case @jramapuram, could you check that you're using `triton == 2.0.0.dev20220403` ? I'm bumping into numerical stability issues with newer versions of triton (being worked on) and the symptoms are very similar (accuracy crash but not NaNs)

[2022-05-21 00:54] blefaudeux opened #306 "Instructions don't explain properly that we need pytorch nightly"
# 🐛 Bug
- `pip install -e .` will not work out of the box with pytorch 1.11, it's expected but we don't explain that anywhere (not in README at least)
- we've not passed pytorch nightly in the requirements.txt, so anybody following the instructions by the book will be stuck with compilation errors

cc @fmassa @dianaml0

-->
simple solution, update the requirements.txt and/or update the readme ?

[2022-05-23 08:35] kashif opened #307 "Cannot pickle nystrom based model"
When I `torch.save` my model with `nystrom` attention I get the following pickle error:

[code]

I believe coming from this function:

https://github.com/facebookresearch/xformers/blob/9232b2d27a775a43173e2fd86c03251ab64f7ede/xformers/components/attention/nystrom.py#L60

[2022-05-23 20:26] blefaudeux commented on #219
(no, I've not forgotten that issue.. ). I would love to be able to repro on something a little smaller than a full blown IN + training over a couple of nodes, documenting that here. Attached is a minGPT training setup, with pre/post/deepnorm (8 layers transformer, 25M params). Deepnorm doesn't converge to a solution which is as good as the others, but no catastrophic failure for either of them
![S

[2022-05-24 01:14] blefaudeux commented on #290
it should be fine with the attached PR @jramapuram, if you see other issues it's easy to fix and augment the unit test, basically in that case lazy initializing the triton parts fixes that

[2022-05-24 01:15] blefaudeux commented on #290
sorry for the delay, I should have seen that before

[2022-05-24 17:02] #307 closed

[2022-05-25 16:19] #290 closed

[2022-05-25 19:54] jramapuram commented on #290
Awesome @blefaudeux ! Testing now, thanks 🙏

[2022-05-25 20:04] jramapuram commented on #219
Thanks for keeping this in mind @blefaudeux. Just checked, using `triton==2.0.0.dev20220430` -- I can drop down and test!

Re the minGPT: I'm surprised there is a perf drop -- does the test loss / negative-log-likelihood to follow the same trend?

[2022-05-25 20:09] blefaudeux commented on #219
20220430 was fine, the ones after that were broken, but fixed by https://github.com/openai/triton/commit/205a493b10a5112ec1fccdbe9d59fe9f172e027d so it's back to being good at the moment ! re-minGPT I can check the other metrics, as mentioned in another thread I think that it may be due to the distribution being [hardcoded](https://github.com/facebookresearch/xformers/blob/main/xformers/factory/mo

[2022-05-26 09:11] jramapuram commented on #219
Unfortunately no joy @blefaudeux. I tried:
1. Triton downgrade + pos + cls init
2. Triton downgrade + pos + cls + weight init
3. `triton==2.0.0.dev20220430` + pos + cls init
4. `triton==2.0.0.dev20220430` + pos + cls + weight init

<img width="885" alt="image" src="https://user-images.githubusercontent.com/8204807/170456963-9f1859ac-2711-4783-bdd5-2d47be191a70.png">

[2022-05-26 21:46] blefaudeux commented on #219
thanks a bunch @jramapuram ! I've a draft PR getting ready which rewrites a lot of the input projections (something we discussed earlier) + explicit handling of a couple of init methods (optional, users are still free to do as they please), I'm hoping that it solves this. To give an insight, I think that[ this setting](https://github.com/facebookresearch/xformers/blob/837d7c0422d72c21a83798978f7a5

[2022-05-26 22:42] blefaudeux commented on #264
it turns out that some of the checks were not correct, undue constraints, fixed with the attached PR

[2022-05-31 03:53] blefaudeux opened #314 "Support "Flash attention""
# 🚀 Feature
See https://arxiv.org/abs/2205.14135 and https://github.com/HazyResearch/flash-attention

## Motivation
Make it easy to compare with other methods (including sparsity), make it available in general

## Pitch
Not much work in xformers, just aligning the interface (famous last words)

## Alternatives
Mem efficient attention

[2022-05-31 22:09] tridao commented on #314
Hi Ben, we're the authors of FlashAttention here.
Would be awesome to have it supported in xformers! Let's figure out how to do it!
Btw I've personally been a fan of xformers (and we borrowed some components such as Rotary embedding https://github.com/HazyResearch/flash-attention/blob/main/src/rotary.py from your repo :D)

[2022-05-31 23:45] blefaudeux commented on #219
I think that #312 is getting there @jramapuram, it's a lot cleaner to my eyes. Something I've seen, related to your curves above, is that it's not just deepnorm, the post- normalization path does not play well with ViT. GPT is fine with this nornalization path, I don't know if it's a known fact, I would need to check the literature. Since deepnorm is a subset of the post- normalization code path,

[2022-06-01 05:20] blefaudeux opened #319 "Support Visual Attention Network"
# 🚀 Feature
Add support for https://arxiv.org/abs/2202.09741

## Motivation
Superb results supported, pretty different structure when compared to some other models so would be nice to check whether the abstractions work out

## Pitch
Support it in parts, as a follow up of the Poolformers integration

## Alternatives
Not doing it

## Additional context
Official implementation: https://github.com/Vi

[2022-06-01 05:29] tridao commented on #314
This sounds like the best option.
Packaging our code to be pip-installable is high on my todo list. I'm a little inexperienced in this regard and seems like building wheel for Pytorch CUDA extension is a bit tricky (e.g. maybe CUDA version, Python version, and Pytorch version need to match between the wheel and user's machine?).
Do you guys have more pointers for this issue?

[2022-06-01 21:12] ptillet commented on #265
@david-macleod Unfortunately it doesn't right now :( It's been planned for a while but other things always ended up taking precedence. There is indeed a similar story with geglu, and it can lead to some troubles if you end up having things like
[code]
I'm hoping that, in this case, the compiler should soon at least be able to merge the two stores into a single, coalesced operation.

[2022-06-01 22:27] blefaudeux commented on #219
ok, beyond #312 which cleans things up, it looks like (given Timm, [here](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/vision_transformer.py#L1026)) layernorm requires a specific treatment for ViT+Post, the weight is initialized to a very small value (vs. 1 typically). Since in our case Post & Deepnorm (same residual codepath) both fail with ViT but work well with GPT,

[2022-06-03 21:16] blefaudeux commented on #319
EfficientFormer seems a bit similar https://arxiv.org/pdf/2206.01191v1.pdf

[2022-06-04 00:21] Tomsen1410 opened #325 "Rotary embeddings convert queries and keys to float32 when using mixed precision training"
Not sure, if this is expected behaviour. The problem is that the cos_sin table in the RotaryEmbedding class is stored in float32 format, thus the returned queries and keys get converted to float32 aswell.

[2022-06-04 00:53] blefaudeux commented on #314
to give some context to external onlookers, discussing 1:1 :)

[2022-06-04 00:55] blefaudeux commented on #325
ohh, this is a great catch ! we can fix that, no biggie. Interesting because I'm using these all the time and never remarked that

[2022-06-04 00:57] blefaudeux commented on #325
it's also something which would fail in bf16 now that I think about it, worth a fix

[2022-06-04 01:04] blefaudeux commented on #264
@dnnspark I think that this is fixed with the PR which landed yesterday ?

[2022-06-04 01:14] blefaudeux commented on #325
looks like it was hardcoded to float because a lot of the cos/diag/.. operations are not available with half on CPU. Should be fixed with the attached PR, thanks @Tomsen1410 for the report !

[2022-06-06 15:44] #325 closed

[2022-06-08 23:38] blefaudeux opened #330 "EfficientFormer"
# 🚀 Feature
Support this micro architecture https://arxiv.org/abs/2206.01191

## Motivation
- seems to work very well for low flops
- compare with other architectures supported here
- this is fun !

## Pitch
Support this piecewise, same as Visual Attention for instance

## Alternatives
Not doing it and stick to AlexNet

[2022-06-12 15:44] blefaudeux commented on #330
turns out that we already support that model, it's a subset of meta formers really :)

[2022-06-12 23:25] erip opened #332 "Hydra ConfigStore doesn't store the registered name in the stored node"
# 🐛 Bug

This is a minor bug (AFAICT) but the name of the registered nodes (attention, pe, ...) are listed as required in the hydra nodes when "retrieved" from the config store.

## Command

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The name within `cs.load(...).node` should be populated according to the registered component's name.

## Environment

Please co

[2022-06-17 04:14] blefaudeux commented on #332
cc @jieru-hu, would you like to have a look ? Else I can get back to that later, not really available ATM unfortunately

[2022-06-17 05:28] blefaudeux commented on #330
I've an example ready, requires small changes in the hierarchical config generation, but other than that all the parts were already there.

[2022-06-17 16:05] jieru-hu commented on #332
thanks ben for the ping, yes i will take a look!

[2022-06-25 07:11] zihanlalala opened #340 "Why _dense3d_to_sparse function expects the same sparsity pattern over the batch dimension?"
# ❓ Questions and Help
What if different samples in a batch have different mask patterns? For example, the key padding mask. How can I convert such mask into sparse tensor or what can I do to speed up the training if such mask tensor is sparse enough?

In file xformers/sparse/utils.py, the _dense3d_to_sparse function only accepts mask tensor with same sparsity pattern over the batch dimension.
[co

[2022-07-01 21:05] blefaudeux commented on #340
Hey @zihanlalala thanks for the issue, it's a good question ! top of head it's a shortcut in the current kernels, because typically used in vision (Swin for linstance) where the pattern is independent of the position in the batch. I think that it could be extended, short handed at the moment personally but I don't think that there's a fundamental limitation. cc @fmassa and @dianaml0 , I'm actually

[2022-07-02 10:24] SeanNaren commented on #286
hey @blefaudeux has there been any update at all here?

cc @ptillet as this might be fixed upstream in triton already.

[2022-07-02 11:54] blefaudeux commented on #286
hey Sean, I checked a couple of weeks ago with current triton, it was crashing on a tl.max() still :/

[2022-07-02 12:07] blefaudeux commented on #286
I just checked right now, confirmed with a minimal repro with the layernorm unit test / https://github.com/blefaudeux/xformers/tree/layernorm_bf16

[2022-07-02 15:07] SeanNaren commented on #286
Thanks for checking @blefaudeux! I assume this is something we'll have to wait for the triton team to fix?

[2022-07-03 13:08] blefaudeux opened #347 "[factory] First and last layers are not properly tagged -> superfluous layernorms"
# 🐛 Bug
Related to tests with https://github.com/facebookresearch/xformers/issues/330 when generating more complex models from configs, in some cases the layers get mislabelled (several "last layer") meaning that we get a lot of extra layernorms

[2022-07-04 19:20] fmassa commented on #340
Hi,

This is currently just a limitations in our sparse kernels as @blefaudeux mentioned. So far they assume that the sparsity pattern is the same across all heads / batch dimension, but this is something that we want to fix in the future

[2022-07-05 06:20] oneraghavan opened #350 "Flexible MOE layers"
# 🚀 Feature

Would like have a flexible MOE layer with ability to choose configurable no of Gates.

## Motivation

Currently only TOP2Gate is supported. Can we have generic version of Gate implemented with Top n Gates vs fixed 2 ?

[2022-07-05 07:10] blefaudeux commented on #286
hey Sean, sorry for the delay, been travelling ! I can spend some time on that a bit later maybe, it looks like Triton and if I remember correctly it was actually tied to LLVM, but could well be that there are workarounds. I've been using bfloat16 a bit lately (following [this](https://github.com/Lightning-AI/lightning/issues/11933#issuecomment-1173962970) but without lightning, I can confirm that

[2022-07-05 10:18] SeanNaren commented on #286
There is no rush @blefaudeux! was just curious on what we're waiting for. I've managed to get around it by disabling triton anyway, lose some perf but at least it runs aha.

Regarding that issue, that's what I'm investigating :) going to use the `imagenet` example (lightning/no lightning), the `microGPT` example and a `minGPT` example to benchmark bfloat16 perf.

[2022-07-05 16:25] fmassa opened #351 "[RFC] Refactor and simplify `scaled_dot_product_attention` for easier extensibility"
# 🚀 Feature

`scaled_dot_product_attention` is a key component of most transformer architectures, and is used almost everywhere in xformers.
Over time, its API has been extended to support a few different cases (either performance improvements, or new functionality). With additional improvements planned down the road to enable even other cases, I think it would be a good moment to step back and re

[2022-07-14 14:41] #347 closed

[2022-07-14 16:03] dianaml0 commented on #351
These seem like really nice improvements, I think 1 and 4 would help with integration with other codebases. For 2, would the functionality of `AttentionMask` just be encompassed by the Tensor classes instead?

[2022-07-14 16:19] dianaml0 commented on #350
Thanks for the suggestion, definitely something that could be looked into by extending the gating options [here](https://github.com/facebookresearch/xformers/blob/3a7b713d903d8f7dfb73ed2d22abad56e4af70f7/xformers/components/feedforward/mixture_of_experts.py#L57)

[2022-07-19 13:03] fmassa commented on #351
Yes, the idea would be that most of what is present in `AttentionMask` would be present instead inside the tensor subclasses. What would be left out are convenience functions to go from bool to float masks and vice-versa, but this can be left as a separate function.

[2022-07-20 06:48] blefaudeux commented on #351
Thanks for the write up @fmassa, and sorry for the delay..

1 and 2 are kind of no brainers to me: 1 (4d tensors, aligned with pytorch) is side effect free as long as the repo is internally coherent (and the unit test will catch that), there are material benefits. 2 (AttentionMask) is completely fine by me, I think that it goes with 3 and 4 really but even just 2 would be ok. At the time Attention

[2022-07-20 07:08] blefaudeux commented on #219
I've not forgotten that @jramapuram, turns out that for vision / post norm Swin v2 already solved this (related to the message above), see [their paper](https://arxiv.org/pdf/2111.09883.pdf). The initial weights need to be scaled way down, I'll try to implement this in xformers when I get the time

[2022-07-21 10:30] SeanNaren opened #353 "Blocksparse forced to use FP16 when BF16 is supported (for triton v2)"
# 🐛 Bug

Within the blocksparse implementation,`q,k,v` are forced to half: https://github.com/facebookresearch/xformers/blob/main/xformers/components/attention/blocksparse.py#L171

After #231 I think blocksparse does support bfloat16 (I tried locally and seems it works). If there are no objections, we should modify the constraint to allow bfloat16. Unsure what the correct approach would be (could

[2022-07-21 10:33] SeanNaren commented on #353
I think we can simplify this further. I suggest using bfloat16 if the type is inferred as bfloat16 (this is pretty much required, as this is the only way you'd get your memory savings) or fallback to float16:

[code]

[2022-08-09 21:32] fedshyvana opened #360 "NystromAttention sometimes results in NaN values when using key_padding_mask"
# 🐛 Bug

NystromAttention sometimes results in NaN values when using key_padding_mask

## To Reproduce
Steps to reproduce the behavior:

[code]

Printout of results:
input shape:  torch.Size([1, 24798, 1024])
input:  tensor([[[0.0864, 0.0117, 0.0049,  ..., 0.0104, 0.0113, 0.0380],
         [0.0842, 0.0025, 0.0103,  ..., 0.0043, 0.0168, 0.0368],
         [0.1197, 0.0151, 0.0195,  ..., 0.0133, 0.008

[2022-08-10 14:11] uakarsh opened #361 "Addition of LaTr: Layout-aware transformer for scene-text VQA"
# 🚀 Feature

## Motivation

- Is currently the SOTA on VQA Model
- Has a novel attention mechanism for taking the Image, Language and Spatial features for the purpose of Scene Text Visual Question Answering
- [Here](https://github.com/uakarsh/latr) is my implementation of the same

## Pitch

- Integrate Layout Aware Transformer in the xformers library, so that the attention of the architecture or

[2022-08-13 06:13] harshil-sanghvi opened #365 "fatal error C1083: Cannot open compiler generated file: '': Invalid argument"
❓ Questions and Help
While executing 'pip install xformers', I get the error as attached below. I already enabled longpath from regedit. Please help me in resolving the error.

      error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2022\\BuildTools\\VC\\Tools\\MSVC\\14.33.31629\\bin\\HostX86\\x64\\cl.exe' failed with exit code 1
      Error in atexit._run_exitfuncs:
      Tracebac

[2022-08-18 15:47] dbl001 commented on #157
Same issue building xformers from source on OX X 12.5.1
[code]

[2022-08-19 19:25] dbl001 commented on #157
I had to add '-Xclang' to setup.py
[code]

[2022-08-22 07:28] david-macleod commented on #265
Thanks @ptillet, just getting round to looking at this again. In the example above what happens if the `x_slice_1` is not divisible by the block size and we end up having to use a mask. Would the second store not potentially overwrite some of the data from the first store?

[2022-08-23 00:26] ptillet commented on #265
Hmm, I don't understand why it would? `x + 2*off + 0` and `x + 2*off + 1` do not overlap?

[2022-08-23 06:36] david-macleod commented on #265
Ah sorry, I misinterpreted your proposal. Ok this makes sense, so we interleave the target memory addresses for each split of the tensor. Other than timing, is there any way to introspect whether the compiler has resolved that into a single coalesced write?

[2022-08-23 06:51] david-macleod commented on #265
Or thinking more about this

As an interim solution until slicing is supported, if I could guarantee that the size of the vector I wanted to process was a multiple of the above, the implication would be that BLOCK_SIZE == num_elements in vector and so could avoid using a mask, which could mean that I could split the two parts of the tensor into two contiguous parts (not interleaved) and guarantee

[2022-08-25 08:21] fmassa opened #367 "Replace `vec_t*` by `const vec_t*` in attention.cu"
# 🚀 Feature

See https://github.com/facebookresearch/xformers/pull/362/files#r945204805 for more details

[2022-08-31 15:10] #360 closed

[2022-09-05 08:40] patricklabatut opened #376 "xFormers is using the root logger"
# 🐛 Bug

I noticed that xFormers logs using the root logger instead of its own library logger (this can be seen in the various `logging.{debug,info,...}()` calls in the library's code).

This leads to log messages like this:

[code]

These may make it difficult for users to identify their origin (`root` is the root logger).

It's common practice for libraries to use there own logger for this reaso

[2022-09-06 16:48] danthe3rd opened #380 "AttentionForward: Change attention block sizes when K > 64"
See https://github.com/facebookresearch/xformers/pull/379

[2022-09-09 15:45] #380 closed

[2022-09-14 02:17] fedshyvana opened #390 "Cannot install xformers on linux server"
# ❓ Questions and Help
When I tried either pip install or build from source, I get this issue:
[code]

here's the output of nvcc --version
[code]

and as additional information, I was able to install pytorch the usual way/verify that cuda is available.

[2022-09-14 22:26] siddharth9820 commented on #15
Hi @tgale96!
Did you get around to fixing the indexing issue for fp-16?

[2022-09-16 09:34] blefaudeux commented on #390
you can check with `which nvcc` where the binary resides, looks like for some reason the setup script looks for it in `/home/username/anaconda3/envs/test_env/bin/nvcc` and it's not there. Something which works well for me is to let conda handle torch + cuda toolchain, this way the versions are in sync & the paths are usually reliable. I hope that helps

[2022-09-16 09:37] blefaudeux commented on #353
hey there @SeanNaren, sorry for the huge delay, new job and new life and not too much spare time unfortunately. I think that a core dependency would be to update the triton version that xformers uses to a recent one, I've a branch which started that but a lot of the kernels broke in the meantime (language changes), I'm fixing this but it takes time. After that I agree that blocksparse and everythi

[2022-09-16 14:52] fmassa commented on #390
Hi,

Thanks for reporting this issue!

We should get this fixed, the following part
https://github.com/facebookresearch/xformers/blob/51dd1192620271598ba71bb1351c1c5508720b31/setup.py#L49-L59

is not robust to all systems

[2022-09-16 16:19] fmassa opened #400 "Make optional Triton requirement more robust"
# 🐛 Bug

Triton is currently an optional dependency, see
https://github.com/facebookresearch/xformers/blob/51dd1192620271598ba71bb1351c1c5508720b31/xformers/__init__.py#L75-L82

But if the installed version doesn't respect certain constraints, users can have issues at import time, such as https://github.com/huggingface/diffusers/pull/532#issuecomment-1249527248

We should probably make the triton

[2022-09-17 20:38] blefaudeux opened #402 "Release v0.13 with an updated Mem Efficient attention ?"
# 🚀 Feature
Make a new 0.13 release with the newer kernels baked in. I can do that if I get a go from the current repo owners (@danthe3rd @fmassa), checking before doing anything wrong

## Motivation
A few people are coming to xformers from the [Stable Diffusion](https://www.reddit.com/r/StableDiffusion/comments/xfu64w/up_to_2x_speed_up_thanks_to_flash_attention/) community, but there are a couple

[2022-09-20 09:11] Dango233 opened #406 "Torch JIT breaks when memory_efficient_attention"
# 🐛 Bug

torch.jit.trace breaks with the following error:
`RuntimeError: unsupported output type: int, from operator: xformers::efficient_attention_forward_generic`
The output of the ops contains an int that can't be traced by JIT.

## Command

## To Reproduce

torch.jit.trace the module mentioned in
https://github.com/huggingface/diffusers/pull/532

## Expected behavior

No int utput so module ca

[2022-09-20 12:13] #400 closed

[2022-09-20 17:49] cchan opened #408 "Incorrectly dispatching to FlashAttention which has head_dim limitations"
# 🐛 Bug

As discussed on https://github.com/huggingface/diffusers/pull/532 with @danthe3rd

[code]

## To Reproduce
[code]

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:

[code]

- PyTorch Version (e.g., 1.0): 1.12.1 and 1.13.0.dev20220920+cu117 both display this behavio

[2022-09-20 17:55] fmassa commented on #408
Hi,

Thanks for opening this PR!

I think the issue is in the PR to diffusers, as mentioned in https://github.com/huggingface/diffusers/pull/532/files#r975661107

Looks like the `M` / `K` are inverted in there

[2022-09-20 18:08] cchan commented on #408
Indeed that fixes it in that repo - thanks for the fix! :)

[2022-09-25 14:09] SeanNaren commented on #353
No worries @blefaudeux you and me both :) I've pivoted pretty far from this but would be nice somewhere in time to have this issue resolved!!

[2022-09-26 08:52] C43H66N12O12S2 opened #437 "Support Windows and ideally build wheels for it"
# 🚀 Feature

Supporting Windows in xformers.

## Motivation

xformers provide excellent tools to increase the speed of inference, for example close to 2x in Stable Diffusion. Sadly, it lacks Windows support. This has barred us from using it on https://github.com/AUTOMATIC1111/stable-diffusion-webui as most users and developers (including myself) use Windows.

## Pitch

Currently, xformers will fai

[2022-09-26 09:11] fmassa commented on #437
Thanks for opening this issue!

We are working on building conda packages for xformers https://github.com/facebookresearch/xformers/pull/407, and will be cutting a new release in https://github.com/facebookresearch/xformers/pull/435 that will make users be able to install through `pip` (although it will still compile the wheels locally for now).

For the windows support, can you maybe post a stack

[2022-09-26 09:50] C43H66N12O12S2 commented on #437
By default, compilation will error out while building flash attention - this is due to a MSVC quirk with std::conditional. When that is fixed, xformers will give these errors:

[code]
and
[code]

[2022-09-26 09:55] danthe3rd commented on #437
Thanks for opening this PR! It looks like it's mostly trivial errors and nothing too fundamental here.
At this point, Windows is not our priority sadly, and our dev servers are all linux - which makes it harder to ensure windows support. Would you be willing to contribute on this front?
I'd be glad to help you with anything you might need, and gladly accept PRs to either add Windows machines in th

[2022-09-26 10:00] C43H66N12O12S2 commented on #437
I couldn't as I lack any amount of C++ or CUDA knowledge. I'm sure it is trivial, but it'd probably take me an hour to figure out what's wrong and fix it because I'm pretty much running blind here.

[2022-09-26 10:05] danthe3rd commented on #437
Ok totally makes sense :)
Could you maybe send a PR for your changes on flash-attention here https://github.com/HazyResearch/flash-attention/tree/main ?
I have a few PRs in flight at the moment on `xformers`, I hope to land everything this week. I will try to fix the few errors you pointed after that :)

[2022-09-26 10:07] C43H66N12O12S2 commented on #437
I could but I'm not sure my "fix" would actually be an improvement 😅. My change basically amounts to completely removing std::conditional and using __half directly. Such a change would remove BF16 support, I believe.

[2022-09-26 10:15] danthe3rd commented on #437
Oh I see ^^ Then maybe worth opening an issue with the compilation errors for the flash part at least :)

[2022-09-26 10:27] C43H66N12O12S2 commented on #437
https://github.com/HazyResearch/flash-attention/issues/50

[2022-09-26 21:02] #402 closed

[2022-09-27 01:08] erip commented on #437
I can try to take the Windows fixes. If I am able to address the compiler errors, would y'all consider adding Windows to CI?

[2022-09-27 07:06] danthe3rd commented on #437
Yes that would be great! Also if you don't manage to fix all of the errors, simply adding a Windows CI can be a good start to help us iterate on that :)
For the CI, until flashattn fixes their code, we can set `XFORMERS_DISABLE_FLASH_ATTN=1` to only test xformers's own build process (https://github.com/facebookresearch/xformers/blob/main/setup.py#L72).

[2022-09-27 14:42] danthe3rd commented on #406
Thanks for reporting :) Should be fixed in https://github.com/facebookresearch/xformers/pull/438

[2022-09-28 05:23] zihanlalala commented on #340
Thank you and hope for the new feature!

[2022-09-28 05:23] #340 closed

[2022-09-28 06:07] zihanlalala opened #441 "Why time cost for ScaledDotProduct with sparse mask is not fast as expected?"
# ❓ Questions and Help
I have tested the time cost of ScaledDotProduct with masks having different sparsity and compare them with simple original attention. I find that even mask with 70% sparsity is slower than original attention, although theoretical only 30% computation is calculated.
Does my testing code wrong?
Here is my test code, which refers to HOWTO.md in the project:

[code]

I repeat it

[2022-09-29 12:07] fmassa commented on #441
Hi,

There are four points to your question, which I'm addressing separately

## Unstable benchmark numbers

The reason why your first benchmarking for the vanilla attention is very large is because you don't perform any warmup in your benchmark before measuring the time, so you are also measuring the time for the first allocation of memory for the large attention matrix.

Adding a couple of itera

[2022-09-29 12:07] #441 closed

[2022-10-03 19:08] EyeDeck commented on #437
https://github.com/HazyResearch/flash-attention/pull/52
Looks like it should fix Flash Attention compilation on Windows properly.

[2022-10-05 04:31] Thomas-MMJ commented on #437
fix is committed and compiling and running flash attention works on windows.

[2022-10-05 04:38] ifffrt commented on #437
https://www.youtube.com/watch?v=8iwBM_YB1sE

[2022-10-05 09:36] archywillhe opened #457 "USE_MEMORY_EFFICIENT_ATTENTION over gunicorn"
# ❓ Questions and Help

When I tried to turned on  USE_MEMORY_EFFICIENT_ATTENTION=1 with gunicorn I got this:

But it works fine with `USE_MEMORY_EFFICIENT_ATTENTION=1 python script.py`

[code]

[2022-10-05 15:13] danthe3rd commented on #457
Hi @archywillhe and thanks for opening this issue.
It looks like there is an issue with your xformer/pytorch setup. You mention gunicorn - have you tried running your code outside it to isolate the problem?

[2022-10-05 19:36] yocabon commented on #437
Hi,
Note that I managed to compile xformers, see [the commit in my branch](https://github.com/yocabon/xformers/commit/5854be873cbc491608a77737e06135e337b4ecd1)

Some of these changes might not be necessary, as I tried different options and kept what seemed to have an impact. I didn't take notes about what error I was getting and what fixed what, so this should be redone more thoroughly.

Out of my

[2022-10-05 22:15] erip commented on #437
That's huge, @yocabon!

[2022-10-06 03:04] Thomas-MMJ commented on #437
is working here 3060 GPU 6 GB ram (laptop variant).  Will have benchmarks finished in about 20 minutes.

[2022-10-06 03:14] Thomas-MMJ commented on #437
Couldn't complete the benchmark, failed here, most of the way through

[code]

[2022-10-06 03:54] C43H66N12O12S2 commented on #437
I've compiled xformers from @yocabon's fork, though example code for SD fails without errors (produces a broken image). A very similar code block reportedly works in diffusers, so I'm inclined to blame errors in compilation, though some guidance would be really welcome :)
[code]

[2022-10-06 04:35] Thomas-MMJ commented on #437
To build check out this fork,

'git clone https://github.com/yocabon/xformers.git'

Then switch to the win_attempt branch

'cd xformers'

'git checkout -b win_attempt'

Then recursively checkout the libraries needed to build it

'git submodule update --init --recursive'

Lastly build

'python3 install requirements.txt'

'python3 setup.py build'

'python3 setup.py bdist_wheel'

and install

'pip in

[2022-10-06 07:20] archywillhe commented on #457
@danthe3rd

yes, outside of gunicorn it is working well;
I only encountered this running insidei gunicorn

[2022-10-06 07:23] danthe3rd commented on #457
Is it possible to share a reproducible example? Like a minimal version of `script.py` if you can

[2022-10-06 08:56] fmassa commented on #437
@yocabon that is awesome! Would you mind sending a PR with your fixes?

[2022-10-06 11:08] 1blackbar commented on #437
So anyone installed on win and can confirm speedup with stable diffusion ?

[2022-10-06 15:54] Thomas-MMJ commented on #437
Can confirm it works and gives speed up.  Using https://github.com/ShivamShrirao/diffusers/ - which has the change integrated by default, I get about 40% faster.

Currently trying to get it working on the SD-Automatic fork and it is not working yet. See discussion here,

https://github.com/AUTOMATIC1111/stable-diffusion-webui/pull/1003

[2022-10-06 18:06] Thomas-MMJ opened #464 "test_feedforward.py and test_block_factory.py fail due to wrong pytorch distributed backend (should be GLOO, is set to NCLL)"
# 🐛 Bug

test_feedforward.py and test_block_factory.py fail pytest

FAILED test_block_factory.py::test_xformer_decoder_block[device0-deepnorm-MixtureOfExperts-visual-True-smelu-2-False-0.1-0.1] - RuntimeError: Distributed package doesn't have NCCL built in
FAILED test_feedforward.py::test_moe[get_expert-4-top_2] - RuntimeError: Distributed package doesn't have NCCL built in

## Command

pytest tes

[2022-10-06 18:37] neonsecret commented on #437
Okay guys, made a working version https://github.com/neonsecret/xformers
Also made a prebuilt wheel for python 3.9

[2022-10-06 19:49] fmassa commented on #437
This should be fixed now thanks to the amazing work from @yocabon in https://github.com/facebookresearch/xformers/pull/460

I'm closing this issue but let us know if you face any further problems with Windows in the future

[2022-10-06 19:49] #437 closed

[2022-10-06 20:59] fmassa opened #468 "Consider removing `memory_efficient_fusion` from xformers"
# 🐛 Bug

According to @Chillee in https://github.com/pytorch/pytorch/issues/86020#issuecomment-1264119302

Given that it looks like the current behavior is wrong, it might be worth removing the uses of `memory_efficient_fusion` from xformers.

cc @dianaml0 for thoughts

[2022-10-06 21:02] #464 closed

[2022-10-06 21:05] Chillee commented on #468
I think I'll probably add the cache back, since it seems like there's a couple more folks relying on the old behavior than I thought, and many people don't want to take on a torchdynamo dependency in the short term (i.e. next couple months).

[2022-10-06 21:22] dianaml0 commented on #468
Thanks @Chillee, do you know when you'll add the cache back?

[2022-10-06 21:26] Chillee commented on #468
@dianaml0 I'll do it today.

[2022-10-09 04:11] C43H66N12O12S2 opened #472 "Question on building xformers"
# ❓ Questions and Help
Recently, we merged xformers optimized attention in the AUTOMATIC1111 SD repo ( thanks again for all your help :) ). As Windows wheels are not built by you, I built it myself but it only works on Ampere cards. This forced us to limit the feature to SM8.6 only.

1 - Is there a way to build a single wheel for multi-CUDA capabilities? I tried doing `DEFAULT_ARCHS_LIST = "6.1+PT

[2022-10-09 08:55] AbdBarho opened #473 "Pip installation fails, `CUTCLASS` not found"
# 🐛 Bug

pip installation fails in a docker container, CUTCLASS not found,  `git submodule update --init --recursive` not executed

## To Reproduce

Dockerfile
[code]
then
[code]
## Error Trace
<details>
  <summary>open</summary>

[code]
</details>

## Expected behavior

installation should work.

## Environment

in the container, running docker on windows

<details>
  <summary>open</summary>

[co

[2022-10-09 09:00] AbdBarho commented on #473
I just saw #471, seems that the pip build is not up-to-date?

[2022-10-09 13:18] wankio opened #474 "Could not run xformers::efficient_attention_forward_cutlass"
# ❓ Questions and Help
[code]

I dont know what is this xformers error mean, remove it from launch command, StableDiffusion just working normally but when i add xformers into SD launch command, everytime when i generate, it just have this

[code]

[2022-10-09 14:01] r3nor commented on #473
I am facing the exact same issue

[2022-10-09 16:16] GrennKren commented on #473
I managed to solve it by compiling it. You can also try the compiled version; there are two places I saw it on github. I'm doing it on my own because nothing worked for me.

The way I did it was like this.
(It is recommended to install it within a virtual environment)

First, make sure which Pytorch version is compatible with your CUDA. If not, please install or reinstall it.
You can try visiting

[2022-10-09 21:27] slix commented on #473
A possible workaround is:

[code]

`pip` does the submodule update process in this case since it knows it's pulling from a git repo.

[2022-10-10 04:59] #474 closed

[2022-10-10 06:15] Chillee commented on #468
Actually, we plan on moving Dynamo into PyTorch core sooner than expected (this wek). When that's done, would it also be possible to replace the call to `memory_efficient_fusion` with `dynamo.optimize`? That should result in the same optimization being performed (although you'll also be able to switch to inductor if desired).

[2022-10-10 08:27] yocabon commented on #472
Hi,
In the documentation, it says you should be using TORCH_CUDA_ARCH_LIST : https://github.com/facebookresearch/xformers/blob/main/README.md?plain=1#L78
[code]
6.0;6.1;6.2 would be Pascal
7.0;7.2 is Volta
I suppose 7.5 should be added to the list for Turing support
8.0;8.6 is Ampere

[2022-10-10 10:29] Lordxan commented on #473
In my case it still don't work it just saying that it cant find modules xformers

[2022-10-10 10:38] GrennKren commented on #473
@Lordxan If you don't mind using the previous version, Just try this:

`pip install xformers==0.0.12`

[2022-10-10 12:14] fmassa commented on #473
Hi,

We have recently added a conda package for xformers, which can be found in https://anaconda.org/xformers/xformers

Maybe you could try installing from there?

Also, if installing from source I would recommend performing the installation via
[code]
this way you are sure that you are pulling the required submodules

[2022-10-10 12:16] fmassa commented on #472
Hi,

Yes, @yocabon is right. You can specify `TORCH_CUDA_ARCH_LIST` to define what are the architectures that you want to build for.

Also, we started adding conda packages for xformers (linux-only for now) in https://anaconda.org/xformers/xformers, so that would be an easier way to get xformers installed

[2022-10-10 12:17] fmassa commented on #468
@Chillee thanks for looking into this!

I think we should just remove then `memory_efficient_fusion` in the codebase. IIUC the goal for `dynamo` is to be called from the top-level repo (and enabled by default in the future), so having it live in library-code is going to be short-lived.

[2022-10-10 12:19] fmassa commented on #390
Hi,

We have recently added a conda package for xformers in https://anaconda.org/xformers/xformers, could you maybe try using it instead?

[2022-10-10 13:38] C43H66N12O12S2 commented on #472
Thank you.

[2022-10-10 13:38] #472 closed

[2022-10-10 18:16] alexanderswerdlow commented on #289
Wanted to bump this since I'm looking to use a per-element attention mask. I saw that triton has since removed this as an argument. I'd be happy to help implement the feature if you had any suggestions.

[2022-10-11 07:41] geekinglcq commented on #406
Hello, has it been fixed right now?

[2022-10-11 07:49] danthe3rd commented on #406
Hi, the PR was merged so it should be yes. Please let us know if you have other issues

[2022-10-11 13:04] geekinglcq commented on #406
Thank you. I have tried the newest commit of `xformers`, and the `RuntimeError: unsupported output type: int, from operator: xformers::efficient_attention_forward_generic` is solved.
However, another problem appears,

[2022-10-11 18:03] AbdBarho commented on #473
Thank you all, it works.

However, my problem is not with installing `xformers` in general, my problem is installing `xformers` with `pip` from `pypi` specifically. If the package in `pypi` is deprecated, then it should be marked as such, otherwise, it should be possible to be install correctly.

[2022-10-12 07:29] fmassa commented on #473
@AbdBarho yes, the package from `pip` is not up-to-date, we need to do something about it

[2022-10-12 20:01] blefaudeux commented on #473
hmm as you see fit, but it's a very common way for people to get to xformers (48k downloads or something, [5k/week](https://pepy.tech/project/xformers)) so that's a lot of people who will be let down. Not everyone in the python ecosystem is using conda actually, and it's not so discoverable (`pip install xformers` will return something, `conda install xformers` will not). So it's a little hard for

[2022-10-13 04:49] Yzrsah opened #481 "It takes 1 hour 10 minutes to install xFormers on Google Colab... please help"
# 🚀 Feature

We really wish to use xFormers with Google Colab, but xFormers takes so long to install that we just can't use it.

## Motivation

When using the following method to install xFormers on the Colab:
[code]

It takes around 1 hour 10 minutes to complete:
[code]

## Pitch

Please, any possible way to install xFormers more quickly.

## Alternatives

Is there a binary installation method th

[2022-10-13 12:27] danthe3rd commented on #481
Hi - thanks for reaching out!

This is indeed a pain point of using xformers at the moment, and we are trying to improve the situation. There are a few ways to improve the situation:
(1) Downloading binaries
(2) Making the build process faster
We are working on both fronts.

**(1) Downloading binaries**
Ideally, no one should have to build xformers as it's indeed quite painful and slow. We are wor

[2022-10-13 13:19] danthe3rd commented on #481
This change might also divide by 2+ the build time by disabling the build of the backward if you don't need it - once it's merged: https://github.com/facebookresearch/xformers/pull/482

[2022-10-13 19:57] blefaudeux commented on #353
I finally have a branch up which passes all unit tests with an updated triton @SeanNaren ([triton_update](https://github.com/blefaudeux/xformers/tree/triton_update) on my fork), after that bf16 should be fairly straightforward. II had to change some of the syntax and the dropout layer in particular became very slow, my plan was to fix that (when I get the time, but days I hope), submit it here, an

[2022-10-13 20:03] blefaudeux commented on #289
@alexanderswerdlow https://github.com/facebookresearch/xformers/pull/331 was the way to go I think, use the bias to nuke the attention on a per element basis. It's been some time, but top of mind this PR was almost there, we asked for minor convention changes to align with the other layers and that was pretty much it. I don't know whether @colehawkins is still interested in the topic ? Else I gues

[2022-10-14 13:49] AbdBarho commented on #473
@blefaudeux I totally agree,  I don't want it gone either, pip is so ubiquitous it makes sense to have it.

Is there any way I can contribute?

[2022-10-15 12:54] colehawkins commented on #289
@blefaudeux Unfortunately I'm very limited on time right now and expecting that to continue for 1-2 months. At that point I'm likely to return. Happy for someone else to take over. @alexanderswerdlow

[2022-10-15 20:34] blefaudeux commented on #473
basically xformers would need many builds depending on the cuda and python version, a bit like the attached screenshot for pytorch. Right now there's only one wheel on pypi, if that does not match the source install does not work since cutlass submodule became a requirement (in that case I think that we should upload another pip package without the cuda source, and warn very loudly that this insta

[2022-10-16 15:04] AbdBarho commented on #473
Ok, I will see what I can do, just to make sure I have the correct requirements:
* pytorch >= 1.12
* python 3.7 - 3.10
* cuda 10.2, 11.3, 11.6
* linux (glibc only) / windows

sounds good?

[2022-10-16 18:27] blefaudeux commented on #473
@fmassa and @danthe3rd would know more about the current targets, but from a distance this looks great ! I would possibly simplify a little to begin with *if issues arise*, for instance cuda 10.2 is pretty old by now and probably ok not to support it if that's too much work. Your call in any case but this would be an awesome contribution

[2022-10-17 08:11] BenjaminIrwin opened #484 "Pip installation failing with 'command '/usr/local/cuda/bin/nvcc' failed with exit code 255'"
# 🐛 Bug

Pip installation fails on Amazon EC2 Instance (Amazon Linux) with confusing error: `command '/usr/local/cuda/bin/nvcc' failed with exit code 255`

## Command

To install, I do the following:

[code]
The error occurs on `pip install -e -v .` Note that this process also takes a very long time (had to leave it overnight).

## To Reproduce

Steps to reproduce the behavior:

See above. I am fo

[2022-10-17 18:25] C43H66N12O12S2 commented on #473
I believe you could extract a single .whl from conda packages using conda-press.

[2022-10-17 20:08] fmassa commented on #484
Hi,

The error appears because you can't find a cuda compiler (nvcc) to compile xformers extensions.

If it is possible to you, we have made available conda binaries, which allow you to install xformers with `conda install -c "xformers/label/dev" xformers` https://anaconda.org/xformers/xformers and should make it much easier to use

[2022-10-18 08:33] danthe3rd commented on #484
If this issue only appears on the build of flash attention, you can disable its build with:
[code]

cc @tridao are you aware of "`internal compiler error`" issues with nvcc to build Flash?

[2022-10-19 10:35] cornpo commented on #390
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving enviro

[2022-10-19 12:03] cornpo opened #485 "recursion error reached hipifying cutlass portion of xformers"
# 🐛 Bug

hipify-python from rocm runs into a maximum recursion error. I think the problem is AMD first, then cutlass. Figured there's no harm in letting you guys know.

1. Install rocm 5.3
2. `pip install git+https://github.com/facebookresearch/xformers` or `pip install xformers`
3. Wish you'd spent the extra $600

[code]
Then it repeats hipify_python.py until pythons recursion limit is exceeded.

[2022-10-19 12:49] fmassa commented on #485
Hey,

Thanks for letting us know. Keep us updated whenever xformers work with hipify!

[2022-10-24 03:20] tikendraw opened #489 "NotImplementedError: Could not run xformers::efficient_attention_forward_cutlass"
I tried installing [Stable Diffusion](https://github.com/AUTOMATIC1111/stable-diffusion-webui.git) and [Xformers](https://github.com/facebookresearch/xformers) . and ran into this

[code]

Help me to resolve this good people of the internet.

[2022-10-24 10:12] Any-Winter-4079 commented on #157
Do you guys get
[code]
for triton? I could run the benchmark on M1 up to 100% (`python3 benchmarks/benchmark_encoder.py --activations relu --plot -emb 256 -bs 32 -heads 16`) but it says cpu (e.g. ` 32 1024 256 True cpu visual`) so that's probably not a good sign

[2022-10-24 11:26] zhanghongyong123456 commented on #489
have you solve it ,i have a problem  like this,
in windows  cuda 11.3 pytorch 1.10   and  python 3.9  pip install  https://github.com/neonsecret/xformers/releases/download/v0.14/xformers-0.0.14.dev0-cp39-cp39-win_amd64.whl
it's  OK ? but  when  run  ,have this  error?

H:\Anaconda3\envs\sd_fast\python.exe H:/22.10.24Draw/stable-diffusion/optimizedSD/optimized_txt2img.py
NOTE: Redirects are current

[2022-10-24 20:06] blefaudeux commented on #157
triton is not released on windows I think, but it s a soft dependency for xformers, the error message is a bit misleading. you can have mem efficient attention without triton, no worries

[2022-10-25 10:02] BenjaminIrwin commented on #484
Still haven't resolved this issue. Hopefully this info provides more clarity:

GCC version:

(GCC) 7.3.1 20180712 (Red Hat 7.3.1-15)

Cuda version:

Cuda compilation tools, release 11.6, V11.6.124
Build cuda_11.6.r11.6/compiler.31057947_0

[2022-10-25 10:46] danthe3rd commented on #484
Have you tried disabling Flash Attention as I suggested above?

[2022-10-25 17:51] 40percentgit opened #493 ""generated with LTO version 12.0 instead of the expected 11.3""
Trying to build on Arch, I was able to a few days ago but now I can't.

I get this issue trying to build _any_ version of xformers, GCC and the cuda-toolkit are at their newest versions.

[code]

I can't get any newer versions of the cuda-toolkit or gcc, as they don't exist yet?
[code]

Looking around the internet says that I need to have the same version of LTO in my GCC, but this version literal

[2022-10-25 19:15] Leonovers opened #494 "error: need cuda arch at least 5.0"
# ❓ Questions and Help
Is it possible to build with cuda arch 3.0?

I have already built PyTorch using the sources, maybe there is a way to build it for arch 3.0?

When building with setup.py it gives error: "Need cuda arch at least 5.0"

[2022-10-26 19:42] MalOMaw commented on #489
The build process of xformers isn't exactly smart. This workaround helped me: https://github.com/AUTOMATIC1111/stable-diffusion-webui/discussions/3525#discussioncomment-3965024

[2022-10-27 20:09] enn-nafnlaus opened #497 "-fstack-clash-protection'; did you mean '-fstack-protector'? (and -fcf-protection)"
# 🐛 Bug

I get a ton of errors like:

    c++.exec: error: unrecognized command line option '-fstack-clash-protection'; did you mean '-fstack-protector'?
    c++.exec: error: unrecognized command line option '-fcf-protection'; did you mean '-fstack-protector'?
    c++.exec: error: unrecognized command line option '-fstack-clash-protection'; did you mean '-fstack-protector'?
    c++.exec: error: un

[2022-10-27 20:11] enn-nafnlaus commented on #402
Same issue as here:

https://github.com/facebookresearch/xformers/issues/497

[2022-10-28 14:16] danthe3rd commented on #497
Hi @enn-nafnlaus

Would it be possible for you to update to CUDA 11? CUDA 10 is pretty old now, also you have a relatively recent version of GCC which might not be supported with CUDA 10. Can you share the output of `nvcc --version` ?

[2022-10-28 14:18] danthe3rd commented on #494
Hi @Leonovers

Unfortunately we heavily rely on [CUTLASS](https://github.com/NVIDIA/cutlass) and many features from recent GPUs - this is why we cannot support architectures < 5.0.

[2022-10-28 14:18] #494 closed

[2022-10-28 14:20] danthe3rd commented on #493
Hi @40percentgit

Which version of CUDA do you have? (`nvcc --version`)
This error is quite weird - it looks like multiple different compilers are used to compile the source code. Maybe removing the `build` directory and restarting from scratch can help?

[2022-10-28 14:55] enn-nafnlaus commented on #497
Will try to see if I can upgrade CUDA this evening - I have a training run going on right now. I will however note that this system was installed fresh just half a year ago, the latest Fedora version offered at the time (36), and this is the CUDA package autofetched from RPMFusion for that version, so if you're going to require more than that, there really should be a check.  :)

nvcc not found.

[2022-10-28 14:56] 40percentgit commented on #493
[code]
Should I try to get a newer version from a different source? I have it installed from the AUR, but the nvidia website doesn't present an Arch option in the downloads. It wasn't updated recently, so suddenly not being able to build old versions of xformers is strange.

I've deleted build, recloned the git (taking care to update submodules), started a fresh pip environment, tried older versio

[2022-10-28 15:05] danthe3rd commented on #497
Btw if you use conda, you can have a separate environment with a different CUDA version, a different pytorch setup etc... And we also provide a package with pre-built binaries with conda

That's interesting .. because nvcc should be used to build xformers. I'm surprised you didn't have an error earlier. Can you provide the complete log of the following:
[code]

[2022-10-28 15:15] danthe3rd commented on #493
The latest version of gcc is 12, and you have version 11.3.
From the error "generated with LTO version 12.0 instead of the expected 11.3" it looks like you might have version 12.0 used to compile parts of the things.

If you are building with ninja (which we recommend because it's faster), you can check the host compiler and nvcc compiler path, eg:

[code]

[2022-10-28 15:21] enn-nafnlaus commented on #497
Failed due to a lack of nvcc:

FORCE_CUDA=1 pip install -v git+https://github.com/facebookresearch/xformers
Using pip 21.3.1 from /usr/lib/python3.10/site-packages/pip (python 3.10)
Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/facebookresearch/xformers
  Cloning https://github.com/facebookresearch/xformers to /tmp/pip-req-build-2d0

[2022-10-28 15:23] enn-nafnlaus commented on #497
Also, re: prebuilt packages, what I really need is branch xformers@51dd119#egg=xformers for the memory-efficient attention, but I figured it'd be better to report the bug against the mainline package (since I get the same error either way)

[2022-10-28 15:46] danthe3rd commented on #497
This has been merged and memory-efficient attention is already available on the main branch - might be easier.

Regarding the error:

This means you need to install CUDA toolkit

[2022-10-28 17:04] enn-nafnlaus commented on #497
Upgraded to CUDA 11 while my training run was still going and successfully installed xformers - thanks  :).  Though can't try anything out until the training run completes or blows up so I can swap out drivers to the upgraded one  ;)

Thanks again!

[2022-10-28 17:16] danthe3rd commented on #497
I might be wrong, but I don't think you need to change your driver, if they are recent enough

[2022-10-28 17:22] enn-nafnlaus commented on #497
Automate seems to disagree, AFAIK  :)

_[2022-10-28 17:00:35,422] [WARNING] [runner.py:179:fetch_hostfile] Unable to find hostfile, will proceed with training with local resources only.
/home/stablediffusion/.conda/envs/diffusers/lib/python3.9/site-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML_

[2022-10-29 04:34] 40percentgit commented on #493
So I found out that the cuda installation was linking to `/usr/bin/gcc-11`, while the standard `/usr/bin/gcc` is indeed version 12. Turns out some part of the install was using this version as opposed to the one in the cuda installation. I ran `export CC=/usr/bin/gcc-11` and `export  CXX=/usr/bin/g++-11` and the install ran without any problem.

As I'm on Arch (rolling, updated frequently), gcc is

[2022-10-29 04:34] #493 closed

[2022-10-29 08:06] genewitch commented on #484
yes, now with gcc 11.3.0 and nvcc cuda_11.5.r11.5 and "XFORMERS_DISABLE_FLASH_ATTN=1 FORCE_CUDA=1 pip install --require-virtualenv git+https://github.com/facebookresearch/xformers.git@main#egg=xformers":

[code]

[2022-10-29 15:14] daniel5984 opened #499 "Cant compile xformers in a 3090 rented GPU"
# ❓ Questions and Help
Hello,
I tried to compile xformers on a rented gpu from vast.ai with
`%pip install git+https://github.com/facebookresearch/xformers@1d31a3a#egg=xformers`
and got this big error:

<sub>
Collecting xformers
  Cloning https://github.com/facebookresearch/xformers (to revision 1d31a3a) to /tmp/pip-install-4johb3uw/xformers_dc146cf4bc794911bea15571bff769ac
  Running command git cl

[2022-10-29 22:59] genewitch commented on #484
I don't recommend doing this*, however:

nvcc --version:

Build cuda_11.8.r11.8/compiler.31833905_0

gcc --version:

successfully completes and transformers works:

hope this helps someone!

[*] I had to apt purge ubuntu-desktop, xserver-xorg-nouveau, and then manually add and purge cuda packages until all of the versions matched. however, even though /etc/alternatives/cuda -> /use/local/cuda-11-8

[2022-10-31 16:46] MathematicalMagus opened #500 "Key pad mask support for flash attention"
# ❓ Questions and Help
Hello!
I noticed that FlashAttention [forward](https://github.com/HazyResearch/flash-attention/blob/13403e81157ba37ca525890f2f0f2137edf75311/flash_attn/flash_attention.py#L27) supports the `key_padding_mask` argument, while your implementation allows only for the Causal mask. Can the `key_padding_mask` also (easily) be implemented in xformers?

[2022-10-31 17:36] danthe3rd commented on #500
Hi,

Yes it's something we plan on adding. As you mentioned, the kernels already support it, so it's more a matter of figuring out the right API for this - we're looking into pytorch's nested tensors to see if it's the right abstraction

[2022-11-01 03:16] Lufffya opened #501 "Whether windwos is supported?"
# ❓ Questions and Help

[2022-11-01 11:06] danthe3rd commented on #501
Hi,
Windows is supported, but you will have to build xFormers yourself as we don't provide windows binaries at the moment

[2022-11-01 16:57] hwu36 commented on #485
FYI, it is waste of time to hipify cutlass since cutlass uses lots of inline ptx.  You could rewrite these inline ptx in cuda, but it is not cutlass anymore.

[2022-11-02 06:25] cornpo commented on #485
ptx->llvm

I'll be back in 3 years. Lol.

[2022-11-03 05:50] Luffffffy commented on #501
I see.
But cuda can only be 11.3 and 11.6, which makes me confused, can other versions, such as 11.8?

[2022-11-03 08:06] danthe3rd commented on #501
We provide binaries for cuda 11.3 and 11.6 (but **only** for linux and specific versions of pytorch). If you build from source, we support any version of cuda >= 11.3 (and maybe even earlier versions of CUDA, but not tested).

[2022-11-05 04:49] zmrubin commented on #473
Just wanted to post a quick thanks, as i also found this helpful

[2022-11-05 11:40] Mystfit commented on #365
I'm also receiving this error when attempting to compile on windows with long paths enabled. I've set the TORCH_CUDA_ARCH_LIST environment variable to 8.6 for my RTX 3080.

I'm using Python 3.9.7 (provided with Unreal Engine) and torch 1.13.0+cu117

[2022-11-06 19:41] arpowers opened #512 "Installation Documentation Problems"
Apologies for creating an issue on this but felt it would be useful to address the documentation problems that are making things much harder to work with than needed.

The installation guide is pretty abstract and most steps are non-linear (A + B, then Skip to F, then back to D)

There are also some missing steps that make things unclear:

1. How do we actually install xformers in production?
For

[2022-11-06 22:57] MatPoliquin opened #513 "Does this xformers implementation work also with AMD GPUs?"
Does xformers work also with AMD GPUs /ROCm or it's implemented specifically for Nvidia cards / CUDA?
If not is there any plans for it?

[2022-11-07 08:00] danthe3rd commented on #513
Hi,
xFormers has been developed/tested on Nvidia chips. I don't think it works with ROCm, and we have no plan to support it.
See also this issue: https://github.com/facebookresearch/xformers/issues/485

[2022-11-09 16:55] Thomas-MMJ opened #514 "test_nvfusers.py tests failing RunTime error due to static_argnums argument to aot_function deprecated"
# 🐛 Bug
the parameter static_argnums is passed in memory_efficient_fusion in the following three files
[code]

The variable static_argnums is deprecated for aot_function

See documentation here,

[code]
https://pytorch.org/functorch/nightly/_modules/functorch/_src/aot_autograd.html

## Command

Only showing the first one, since it happens for
`pytest ./tests/test_nvfuser.py`

[code]

## Environmen

[2022-11-10 05:29] 0xdevalias opened #515 "[requirements-benchmark.txt] ERROR: Could not find a version that satisfies the requirement triton==2.0.0.dev20220701"
# 🐛 Bug

Following along with:

- https://github.com/facebookresearch/xformers#testing-the-installation

[code]

## Command

## To Reproduce

Steps to reproduce the behavior:

1. `conda run -n dreambooth --live-stream pip install -r requirements-benchmark.txt`

## Expected behavior

The dependencies for the benchmark to be installed properly.

## Environment

[code]

## Additional context

N/A

[2022-11-10 05:36] 0xdevalias commented on #515
Potentially related:

[2022-11-10 05:53] 0xdevalias commented on #515
Seems that `triton == 2.0.0.dev20220701` is defined in:

https://github.com/facebookresearch/xformers/blob/main/requirements-test.txt#L29-L30

[code]

And even though it's listed as a version on https://pypi.org/project/triton/#history

`pip` no longer seems able to download/install it (even by using `--pre`), as it only seems to be seeing the latest 5 prerelease versions.

[2022-11-10 05:54] 0xdevalias commented on #157
Yup.. see this issue I just opened:

- https://github.com/facebookresearch/xformers/issues/515

[2022-11-10 06:02] 0xdevalias commented on #515
Once manually fixing it up to a version that would work, I noticed the following as well:

[code]

[2022-11-10 06:13] 0xdevalias commented on #514
Also get this running `python3 xformers/benchmarks/benchmark_nvfuser.py`

[code]

[2022-11-10 06:49] 0xdevalias opened #516 "[xformers/benchmarks/benchmark_encoder.py] fatal error: cuda.h: No such file or directory + AttributeError: module 'triton' has no attribute 'code_gen'"
# 🐛 Bug

Trying to follow along with:

- https://github.com/facebookresearch/xformers#testing-the-installation

[code]

[code]

## Command

## To Reproduce

Steps to reproduce the behavior:

1. `!conda run -n dreambooth --live-stream python3 xformers/benchmarks/benchmark_encoder.py --activations relu  --plot -emb 256 -bs 32 -heads 16`

## Expected behavior

The benchmark would run successfully.

#

[2022-11-10 06:50] 0xdevalias commented on #516
[code]

[2022-11-10 07:09] 0xdevalias commented on #516
One step closer it seems!

[code]

[code]

Yet still getting the error: `fatal error: cuda.h: No such file or directory`

[2022-11-10 07:39] 0xdevalias commented on #516
- https://github.com/openai/triton/blob/master/python/triton/compiler.py#L1233-L1241
  - `generate_launcher` seems to be generating the code that has the `#include "cuda.h"` line that's erroring, then calls the `_build` function.

---

- https://github.com/openai/triton/blob/master/python/triton/compiler.py#L1154
  - `cuda_lib_dirs = libcuda_dirs()`
  - `cu_include_dir = os.path.join(cuda_home_dir

[2022-11-10 07:46] 0xdevalias commented on #516
Setting `CUDA_HOME` seemed to allow it to progress a little bit more, and run into a new/different error:

[code]

[code]

Which may be related to this:

- https://github.com/openai/triton/issues/486
  - https://github.com/openai/triton/pull/487
- https://github.com/google/jax/discussions/6843

[2022-11-10 09:44] danthe3rd commented on #515
Hi and thanks for noticing this.
"requirements-benchmark.txt" is only needed to run benchmarks and shouldn't affect end-users. Nevertheless, we plan to update the documentation and I'll keep that in mind.
cc @bottler @fmassa

[2022-11-10 12:30] fmassa commented on #514
Looks like this is related to https://github.com/facebookresearch/xformers/issues/468

Let's just remove `memory_efficient_fusion` from xformers. cc @dianaml0 @Chillee

[2022-11-10 16:43] Thomas-MMJ opened #517 "[RTX 30X0/Sm86] assertion errors in test_mem_eff_attention.py"
# 🐛 Bug

numerous tests in test_mem_eff_attetion.py failing due to assertion errors,

here is the first one

[code]

## Environment

[code]

[2022-11-10 16:53] danthe3rd commented on #517
Hi thanks for reporting. Can you also add the output of `python -m xformers.info` ?

[2022-11-10 19:28] Thomas-MMJ commented on #517
Sure,

[code]

note that pytorch 1.13+ functorch is part of pytorch, so isn't a seperate install, see

https://pytorch.org/blog/PyTorch-1.13-release/

[2022-11-10 21:03] hoangmit opened #519 "triton layernorm problem"
# 🐛 Bug
[code]

.....
[code]

## To Reproduce
[code]
Steps to reproduce the behavior:

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:

[code]

- PyTorch Version (e.g., 1.0): master
- OS (e.g., Linux):
- How you installed PyTorch (`conda`, `pip`, sour

[2022-11-10 23:03] Thomas-MMJ opened #520 "current compile fails ( 43_dual_gemm example folder not added when cutlass updated ?)"
# 🐛 Bug

recent git commit updated cutlass, but apparently some files weren't added, this is causing the build to fail,

https://github.com/NVIDIA/cutlass/tree/master/examples/43_dual_gemm

[2022-11-10 23:10] #520 closed

[2022-11-11 15:02] Thomas-MMJ commented on #517
No improvement with latest git

[2022-11-11 18:36] danthe3rd commented on #517
Thanks for the update. We haven't tested xFormers with PyTorch 1.13 (we're still working on 1.12.1) so that might be the issue?
I'll have a look but I'll be pretty busy next week - so might have to wait a bit :/

[2022-11-11 21:55] danthe3rd commented on #517
I was able to run some more tests. I confirm the tests pass on pytorch 1.13 (and today's 1.14 nightly) with cuda 11.7. Might be due to the GPU (RTX 3060) with compute capability 8.6?
We are mostly testing/developing CC 8.0/7.5/6.1/6.0 - so it might be a bit harder to debug what's happening in your case as I don't have the corresponding hardware to test...

[2022-11-11 22:07] danthe3rd commented on #519
Hi,
Can you report which version of triton you are using?
Thanks

[2022-11-11 22:08] danthe3rd commented on #515
I'll update it as part of https://github.com/facebookresearch/xformers/pull/521

[2022-11-12 01:59] comaniac opened #522 "[Attention] Disable weight scaling"
# 🚀 Feature

The current attention implementations scale weights, as shown in the reference implementation (https://github.com/facebookresearch/xformers/blob/main/tests/test_mem_eff_attention.py#L154):

[code]

However, in some models such as T5, the weight scaling is already applied during weight initialization: https://github.com/huggingface/transformers/blob/main/src/transformers/models/t5/mode

[2022-11-12 18:56] danthe3rd commented on #514
Should be addressed in https://github.com/facebookresearch/xformers/pull/521

[2022-11-12 21:37] IdiotSandwichTheThird commented on #517
I can confirm this test also fails on a 3090. Environment is the default given in the Readme.md, installed the latest build from conda.

[code]

[code]

[code]

[2022-11-13 09:01] danthe3rd commented on #517
I suspect this might be due to the shared-memory amount - it's 160kb in Sm80 vs 100kb for Sm86.
Can you run the test again and give me a paste of the output? I would like to see the list of failed tests - so I can update the dispatcher accordingly to not run kernels not supported.
Also can you run the tests with "CUDA_LAUNCH_BLOCKING=1" ?
Thanks a lot!

[2022-11-13 19:48] IdiotSandwichTheThird commented on #517
Full Log: https://github.com/IdiotSandwichTheThird/ErrorLogs/blob/main/logFull.txt
With CUDA_LAUNCH_BLOCKING=1: https://github.com/IdiotSandwichTheThird/ErrorLogs/blob/main/log%20launch%20blocking.txt

[2022-11-13 20:42] Thomas-MMJ commented on #517
the

RuntimeError: Expected is_sm80 to be true, but got false.

 and

torch.cuda.OutOfMemoryError are also included in the log above,

slight variations in GPU usage from other processes or differences in allocation/fragmentation can result on the OutOfMemoryError sometimes not occurring, which probably is why the amount of errors change.

[2022-11-13 21:21] Thomas-MMJ commented on #517
If I compile using

`TORCH_CUDA_ARCH_LIST="8.6" python setup.py develop`

The tests don't pass either,

an interesting pattern I noticed is that it appears to be the float32 variants that are predominantly failing, the float16 and bfloat16 are passing usually.  Running the tests with -v make the pattern fairly clear,

for instance,

[code]

[2022-11-13 23:20] Thomas-MMJ commented on #517
Here are the results for my 3060 GPU (laptop variant 6GB) 1538 fails, the additional are due to more frequently exceeding VRAM capacity,

[mem_eff_results2.txt](https://github.com/facebookresearch/xformers/files/9998456/mem_eff_results2.txt)

[2022-11-14 03:13] 152334H opened #524 "❓ Building with more CPU cores"
Sorry if this is a dumb question, but is there any way to utilize multiple CPU cores when running,
[code]
Currently, the build process appears to use only 1 CPU core on my machine. This makes the installation process very slow.

[2022-11-14 10:50] danthe3rd commented on #517
Thanks a lot for the logs, that really helps! [From the results](https://raw.githubusercontent.com/IdiotSandwichTheThird/ErrorLogs/main/log%20launch%20blocking.txt), it looks like:
- f16 and bf16 always work [*]
- Flash's bwd does not support `K>64` for the bwd, and we should disable the kernels in those use-cases, see
https://github.com/HazyResearch/flash-attention/blob/557781933dbc13cc4e75626bb0

[2022-11-14 10:52] danthe3rd commented on #524
Hi @152334H

Yes very good point. If you install ninja before (`pip install ninja`), it should parallelize across cores.
(Also out of curiosity, what prevents you from using the conda builds?)

[2022-11-14 14:56] danthe3rd commented on #517
If you have some time, is it possible for you to check if the issue is solved with https://github.com/facebookresearch/xformers/pull/526 ?
(you should still have the OOM issues, but it's less important)

[2022-11-14 15:29] danthe3rd commented on #519
Might be fixed with this pull-request: https://github.com/facebookresearch/xformers/pull/483

[2022-11-14 15:31] danthe3rd commented on #522
Hi @comaniac

That's a good point, and we could indeed add an argument with the scale to apply to `memory_efficient_attention`. I'll add this to my todo list, but I have a few other things to do before.

[2022-11-14 16:13] comaniac commented on #522
Thanks for the reply. Will this be tracked by any task tracking issue or roadmap so that I could follow up later? Or if you have a concrete suggestion in mind about how this should be done (e.g., how this should be configured by users), I could probably try to add the support.

[2022-11-14 16:39] 152334H commented on #524
Thanks for the tip about `ninja`.

I'm not on conda because I'm one of the many people using this for SD-webui, which uses it's own venv by default. I am now aware I could configure it to point it to a conda env, thanks.

[2022-11-14 17:13] comaniac commented on #522
Thanks for the details. I'll try to implement it when I got a chance.

[2022-11-14 18:47] danthe3rd commented on #517
Thanks a lot! This is really helpful! I updated https://github.com/facebookresearch/xformers/pull/526 and it should address the missing tests that were failing.
note that this PR just disables the kernels for the cases that cause issues, and the call to `memory_efficient_attention` will end up with a `NotImplementedError` on Sm86 until we implement it properly (typically for `value.shape[-1] > 64`

[2022-11-14 20:20] Thomas-MMJ commented on #517
All passed or skipped now

============================ 14455 passed, 18593 skipped, 408 warnings in 193.37s (0:03:13) ============================

[2022-11-14 20:25] danthe3rd commented on #517
Awesome! I'll merge the PR then. I'll leave this open as we still would like to support K>64 on those GPUs for the backward (but as a lower priority tho)

[2022-11-14 20:25] #517 closed

[2022-11-14 20:47] blefaudeux commented on #515
Fixed now @0xdevalias, super sorry about that. To give some context, triton is kind of stuck in between 2 (well, 3) places: the long lived pip package has a deprecated syntax and know bugs, so xformers depended onto a newer version (development triton 2). The thing is, the syntax of triton2 changed over time, and a lot of our layers became broken with respect to the newer pip dev package. Eventual

[2022-11-14 21:01] IdiotSandwichTheThird commented on #517
same here,
=============== 14455 passed, 18593 skipped in 92.06s (0:01:32) ================

[2022-11-14 21:06] danthe3rd commented on #517
Awesome! (reopening as we still need to support K>64)

[2022-11-15 03:11] 0xdevalias commented on #515
@blefaudeux Thanks for the detailed context (and the fix!), much appreciated! :) I'm hoping to have some time to play around with things again this afternoon, so here's hoping it all works now!

[2022-11-15 06:26] 0xdevalias commented on #390
Seeing a similar error as above:

[code]

[code]

[code]

[code]

---

@fmassa Any thoughts on what might be going wrong here?

[2022-11-15 06:58] 0xdevalias commented on #390
Digging into this a bit more:

Tried looking at the specific versions available with `conda search`:

[code]

<details>
<summary>Full output</summary>

[code]

</details>

And then installing one that should be compatible with my system, though it just gave me a different error:

[code]

Trying a different build:

[code]

[2022-11-15 07:44] 0xdevalias commented on #390
This StackOverflow gave me an idea:

- https://stackoverflow.com/questions/71678461/conda-unsatisfiableerror-with-linux64-and-glibc/71711979#71711979
  - > It's not about GLIBC, rather Conda is simply bad at reporting conflicts.

Looking at the `xformers` versions online:

- https://anaconda.org/xformers/xformers/files

We can see that, for example, `linux-64/xformers-0.0.15.dev337+git.fd21b40-py3

[2022-11-15 07:54] 0xdevalias commented on #390
So after that giant deepdive, it seems that the TL;DR for resolving the following error:

[code]

Is to ensure that you have all of the required `-c` conda repositories enabled when doing your `conda install`. I suspect any of these should work correctly, depending on your needs:

**PyTorch 1.13, Cuda 11.7.1, xformers:**

[code]

[code]

[code]

**PyTorch 1.12, Cuda 11.7.1, xformers:**

[code]

**

[2022-11-15 09:09] #513 closed

[2022-11-15 09:11] danthe3rd commented on #512
We have done a pass on the documentation to update it with recent changes and make it simpler.
Thanks a lot for the feedback - it really helps, and feel free to reopen if there are other things you think can be improved!

[2022-11-15 09:11] #512 closed

[2022-11-15 09:15] #481 closed

[2022-11-15 09:19] danthe3rd commented on #390
Thanks for reporting those!
The correct command to install pytorch with conda should be on the [pytorch website](https://pytorch.org/get-started/locally/) and look something like:
[code]
After that, you should be able to install xformers with
[code]

[2022-11-15 09:28] 0xdevalias commented on #390
@danthe3rd Yup, that makes sense after the fact, though `conda` gives super misleading error messages if it's not already installed. It would be good to explicitly mention in the installation docs that pytorch needs to be setup properly first, and probably also include a note in the troubleshooting installation section about what those misleading conda errors actually mean (eg. "You didn't install

[2022-11-15 09:42] danthe3rd commented on #390
Great feedback - will update the README in https://github.com/facebookresearch/xformers/pull/529

[2022-11-15 12:47] 0xdevalias commented on #499
So following my overly long and convoluted deep dive in one of the other issues today, I managed to get it to compile/install on an RTX 3090 rented in the cloud.

Can't remember the issue off hand to link it directly here, but it seemed to work without errors in the end.

[2022-11-15 13:18] 0xdevalias commented on #390
I'll need to go through the steps I figured out today in a clean environment again to be sure (won't have a chance to for ~1week or so at the earliest), but it seemed that even using the above command that should have installed the binary versions, in an environment that matched, when I ran the `python -m xformers.info` test script, it seemed to indicate that things weren't installed correctly; an

[2022-11-15 13:23] #499 closed

[2022-11-15 18:39] hoangmit commented on #519
Triton version

triton.__version__
'2.0.0'

[2022-11-15 19:12] danthe3rd commented on #519
Oh didn't see you were using it in fbcode. It might be specific to the fbcode setup.
Can you post on our [(Meta-internal) group](https://fb.workplace.com/groups/252292133202810)? We've never tried xFormers in fbcode (didn't even know it was there) - so there might be some work needed to get it to work properly (there are also some dependencies on triton version)

[2022-11-16 12:22] #390 closed

[2022-11-16 19:01] danthe3rd commented on #314
Closing as this has been integrated some time ago now :)
We're also working on integrating the newest updates in https://github.com/facebookresearch/xformers/pull/495

[2022-11-16 19:01] #314 closed

[2022-11-16 23:20] Pirog17000 opened #531 "Following install instructions, got Filename too long error, then compilation errors VS related"
# ❓ Questions and Help

So, following the instructions given on the main page,

[code]

**but have this log at the end:**
[code]

This is a windows system and I'm using a pip way of installing xformers.
help! :)

[2022-11-17 01:29] bottler commented on #531
I think you are hitting a windows error on the length of a path. Can you check out this repo to a location of your own whose path is much shorter than `C:\Windows\Temp\pip-install-41neinzo\xformers_360dda9894394700b2ff49e641a78998` ?
if so  you could then use `pip install .`.

[2022-11-17 06:33] #522 closed

[2022-11-17 10:51] Pirog17000 commented on #531
And it failed again. (or it's me, I'm not doing this type of things regularly) @bottler
[code]
Results into this:
[code]

[2022-11-17 10:59] Pirog17000 commented on #531
And more after uninstalling ninja:

[code]
Interesting, so it will require **SPECIFIC** Visual Studio. Not mentioned anywhere.

[2022-11-17 12:28] apolinario opened #532 "Support for `pip`"
I really love Conda, is amazing but not all workflows work with that. (e.g.: Google Colab and others).
Installing the package without conda (building or pre-built wheels) is very slow and painful

The community has been creating libraries of pre-built versions to support that. Some examples:
- https://github.com/neonsecret/xformers/releases/tag/v0.14
- https://github.com/TheLastBen/fast-stable-dif

[2022-11-17 12:35] danthe3rd commented on #531
Oh that's a specific requirement from CUDA.
Each CUDA version supports a specific version of compilers.
You have a fairly old version of CUDA (11.1) and should probably use a newer version. In fact, PyTorch 1.13 binaries (if you install with pip/conda) are provided for CUDA 11.6 and 11.7 - and you should build xFormers with the same CUDA version as the one in pytorch (try `python -c "import torch;

[2022-11-17 12:42] danthe3rd commented on #532
Hi @apolinario

That's a very valid point, and we know it's been a pain point for the users ...
Some folks in the community have been willing to contribute to this recently (https://github.com/facebookresearch/xformers/pull/523#issuecomment-1312677562), hopefully we will have something soon.

[2022-11-17 13:50] Pirog17000 commented on #531
I have updated Cuda to 11.8, now it builds.. will report if this thing will succeed. So far it works, thanks for the tip!
[code]

[2022-11-17 15:12] Pirog17000 commented on #531
[code]

[2022-11-17 15:12] #531 closed

[2022-11-18 22:36] #473 closed

[2022-11-20 11:19] AbdBarho opened #533 "Making built wheels available for install"
# 🚀 Feature

## Motivation

After #523 #534, the wheels can be built, but are not available for install anywhere. But users want this #532 #473

## Pitch & Alternatives

There a couple of ways that I know of to achieve this:

### Upload to pypi

Probably the most obvious solution

* max file size for pypi is 60MB, or roughly 2-3 CUDA architectures per wheel
  * maybe it makes sense to have per arc

[2022-11-21 05:16] eeyrw opened #535 "Meet error when using xformers and doing loss backward"
# 🐛 Bug
Associated issue: https://github.com/huggingface/diffusers/issues/1314
Get error when I enable xformers of UNet and try to do backward:
[code]

## Command

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Nothing should happen.

## Environment

System Info
diffusers version: 0.7.2
Platform: Windows-10-10.0.19041-SP0
Python version: 3.7.7
PyTorch version (GPU

[2022-11-21 13:08] danthe3rd commented on #535
Thanks for reporting! Do you mind sharing what is the resolution you are using? Also can you report the output of `python -m xformers.info` ?

[2022-11-22 06:13] Limbicnation commented on #484
UnsatisfiableError: The following specifications were found to be incompatible with each other:

Output in format: Requested package -> Available versionsThe following specifications were found to be incompatible with your system:

  - feature:/linux-64::__glibc==2.36=0
  - feature:|@/linux-64::__glibc==2.36=0

Your installed version is: 2.36

[code]
Please help.

[2022-11-22 09:38] eeyrw commented on #535
@danthe3rd
(stable-diffusion) PS F:\diffusers-test> python -m xformers.info
A matching Triton is not available, some optimizations will not be enabled.
Error caught was: No module named 'triton'
xFormers 0.0.15.dev+efdca02.d20221116
memory_efficient_attention.flshatt:      available - requires GPU with compute capability 7.5+
memory_efficient_attention.cutlass:      available
memory_efficient_atte

[2022-11-22 10:40] danthe3rd commented on #484
The conda errors can be cryptic and unrelated to the actual problem.
What is the pytorch/python version you are using?
We only support pytorch 1.12.1/1.13 and python 3.8/3.9/3.10 at this point

[2022-11-22 19:50] hoangmit opened #536 "Support pure pytorch implementation for memory_efficient_attention"
# 🚀 Feature

I found that `memory_efficient_attention` op does not support pure pytorch implementation (e.g. without using device specific op, or library or cython). The current implementations fail to dispatch on CPU device.

In the spirit of torch 2.0, we should have a python implementation for most op.

Something similar to: https://github.com/lucidrains/memory-efficient-attention-pytorch

Pure

[2022-11-22 20:18] #519 closed

[2022-11-22 20:27] Limbicnation commented on #484
Hi @danthe3rd thanks for your reply! I solved the error by installing pytorch `1.12 and Cuda Toolkit 11.5`
`Successfully built xformers`

![Screenshot from 2022-11-22 21-25-58](https://user-images.githubusercontent.com/6284675/203414333-a9b9bf00-0a99-49da-a3b5-88b3106828e1.png)

[2022-11-22 21:20] blefaudeux commented on #536
The algorithm from Rabe that you linked to is no the full Flash Attention, it only covers the initial softmax(QKt) but flash attention does the V dot product at the same time and it makes it a lot more effective. This algorithm cannot (to the best of my knowledge) be written using pytorch's primitives, you can bet that it would be used everywhere already if that was the case. Feel free to write a

[2022-11-22 21:23] danthe3rd commented on #536
I think the point is to have a fall-back for CPU (and unsupported devices) that is memory-efficient - even if it's much slower than pytorch

[2022-11-22 21:24] blefaudeux commented on #516
the "triton has no code_gen attritbute" is unrelated, tied to a recent triton update, sorry about that. Fixed in #528

[2022-11-22 21:25] blefaudeux commented on #330
some layers are present, the rest would not be too hard to add but probably not a big priority, closing this to reduce noise for the xformers team

[2022-11-22 21:25] #330 closed

[2022-11-22 21:26] blefaudeux commented on #286
should be fixed with the triton update from a few weeks ago

[2022-11-22 21:26] #286 closed

[2022-11-22 21:28] blefaudeux commented on #350
@oneraghavan would you be interested in contributing this yourself ? the repo is open to PRs and this looks like a great first issue ?

[2022-11-22 21:37] blefaudeux commented on #536
ah ok, that's not how I understood the title and issue. In that case I'm not sure that there's much to be done beyond slicing per row on the attention matrix, is that what you meant @hoangmit ?

[2022-11-23 13:20] eeyrw commented on #535
For convenience of reproducing, I make a more concise test case:
[code]

[2022-11-23 14:35] danthe3rd commented on #533
Apparently it's now 100MB. I've requested an increase to 300MB which should give us some margin
https://github.com/pypa/pypi-support/issues/2421

That's the reason why we are currently using conda, which handles this sort of dependencies.
I see a few options:
(1) `pip install` manually with the full path from s3
(2) `pip install xformers` downloads a source distribution. At setup, we retrieve the

[2022-11-23 18:46] AbdBarho commented on #533
Overall I think its a good plan, some comments:

Could this in anyway lead to endless loops? I don't know how, but my spider sense is tingling.

Also, the order of installs here matters right? it won't not be possible to
[code]

same experience

Perhaps maybe a bit more concretely on the plan forward:

1. Wait for pypi team and add pip upload to the pipeline
    * what if we don't get the storage

[2022-11-23 18:55] danthe3rd commented on #533
I think we can have pytorch an install dependency or something like that.
The thing is: we already import & use torch in the `setup.py` script (https://github.com/facebookresearch/xformers/blob/main/setup.py#L20)

This does not solve the issue with multiple versions of pytorch/cuda (unless we ignore cuda mismatch errors, and add a pinned version of pytorch - latest? - as a dependency)

[2022-11-23 18:56] danthe3rd commented on #533
Oh I meant just download the built binary files (not the entire package). Like `_C.so` for linux

[2022-11-24 14:54] #353 closed

[2022-11-25 12:16] AbdBarho commented on #533
@danthe3rd now that we have pypi storage, what is the next step? is there something I can help with? do we still need to worry about the pip index? it is just an html page after all but still.

[2022-11-25 12:41] danthe3rd commented on #533
I'm trying to figure out internally how we can store that on s3 - it's thanksgiving in the US so hopefully we will have more news to share next week.

[2022-11-27 16:50] eran-sefirot opened #542 "Fail to install on EC2 G5XL Deep Learning AMI, PyTc 1.12.1 Cuda 11.6"
# 🐛 Bug

Fail to install on EC2 G5XL Deep Learning AMI, PyTc 1.12.1 Cuda 11.6

Fail to install on EC2 G5XL Deep Learning AMI, PyTc 1.12.1 Cuda 11.6

I am trying to install SD 2.0 which is not loading on this instance size, probably since it's short on RAM. (16GB) hoping xformers would enable us to use this cost effective instance type.

However installation fails with the stack below.

## Command

[2022-11-27 19:15] trzy opened #543 "Windows build instructions fail because of git submodule checkout issues"
# 🐛 Bug

Performing a Windows build using the pip command given in README.md fails due to multiple errors involving git submodules.

## Command

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the command: pip install -v -U git+https://github.com/facebookresearch/xformers.git@main#egg=xformers

See bottom of bug report for complete output.

## Expected behavior

Expected behavior

[2022-11-27 19:35] danthe3rd commented on #543
We now have binaries for windows (download `windows-2019.zip` from [here](https://github.com/facebookresearch/xformers/actions/runs/3543179717)).
Can you check if you can pip-install the one that corresponds to your pytorch/python/cuda version?
cc @AbdBarho

[2022-11-27 19:37] danthe3rd commented on #542
Hi,

It's possible that the compilation might be OOMing. Can you try to reduce "MAX_JOBS", as written in the [troubleshooting section](https://github.com/facebookresearch/xformers#install-troubleshooting) ?

[2022-11-27 19:40] trzy commented on #543
How would I do this with a pip install command? I'm also a little confused as to which version I need. As you can see, the Python env I'm working in (this happens to be for Stable Diffusion v2) has pulled in a version of PyTorch built for CUDA 11.3 but my system has CUDA v11.7 installed. I don't see a build for Torch 1.12.1 and CUDA v11.7, although there is one for v11.6.

[2022-11-28 00:50] Thomas-MMJ opened #544 "6 tests failing in test_core_attention,"
# 🐛 Bug
In test_core_attention the tests test_switch_blocksparse_dropout[0.0-True-cuda], test_switch_blocksparse_dropout[0.0-False-cuda], test_switch_blocksparse_dims[cuda], test_switch_blocksparse_dropout[0.3-False-cuda], test_switch_blocksparse[data_type1-cuda] , test_switch_blocksparse_dropout[0.3-True-cuda] all fail.

here is the output,

[code]

## Command

## To Reproduce

Steps to reproduce

[2022-11-28 01:44] Thomas-MMJ opened #545 "168 swinglu test_forward_backward tests fail due to insufficient vram 3600 mobile GPU"
# 🐛 Bug

running the test

`pytest -v tests/test_swiglu.py
`
168 of the tests fail ( test_forward_backward ) with

E       torch.cuda.OutOfMemoryError: CUDA out of memory. Tried to allocate 66.00 MiB (GPU 0; 6.00 GiB total capacity; 5.31 GiB already allocated; 0 bytes free; 5.35 GiB reserved in total by PyTorch) If reserved memory is >> allocated memory try setting max_split_size_mb to avoid fragm

[2022-11-28 02:00] Thomas-MMJ opened #546 "fail test_pytorch_transformer_parity.py::test_pytorch_encoder_parity - assert 85.07492282178951 > 120"
# 🐛 Bug

The test

`pytest tests/test_pytorch_transformer_parity.py::test_pytorch_encoder_parity
`

fails with the result

[code]

# Environment

[code]

[2022-11-28 11:09] cpietsch commented on #499
hey @0xdevalias, can you upload the whl ? It would be nice to have it precompiled for https://github.com/TheLastBen/fast-stable-diffusion/tree/main/precompiled

[2022-11-28 12:27] danthe3rd commented on #499
Hi @cpietsch

We now have github actions that recompile xformers regularly (see here: https://github.com/facebookresearch/xformers/actions/runs/3543179717). Cc @AbdBarho
A single wheel will support all main architectures

[2022-11-28 17:42] eran-sefirot commented on #542
OK -
1. tried decreasing job to 1 - that didn't work (same error)

2. switched to larger RAM instance (G5.4XL 64GB) to exclude RAM issues, installation still fails, see stack trace below.

3. Is there a recommend image/docker/instance type for running xformers?

5. not sure if related when I run:

`
export CUDA_HOME=/usr/local/cuda-11.4
conda install -c nvidia/label/cuda-11.4.0 cuda-nvcc
conda ins

[2022-11-28 17:57] danthe3rd commented on #542
The recommended way of installing xformers is using the [conda packages](https://github.com/facebookresearch/xformers#installing-xformers) we provide. No build is necessary then.
It just requires to have pytorch already installed with conda (see here: https://pytorch.org/), but something like this should work:

[2022-11-28 19:16] eran-sefirot commented on #542
that command was successful, is there an easy way to check the status of the installation?

[2022-11-28 20:15] AbdBarho commented on #543
@trzy we are working on setting up wheels for simpler install in the future.

In  the mean time,  find the wheel closest your setup from https://github.com/facebookresearch/xformers/actions/runs/3566916718
in this order 1) os 2) python version 3) torch version 4) cuda version

after downloading the `.whl` file, install it with pip, e.g.:
[code]

[2022-11-29 07:49] danthe3rd commented on #544
I think I've seen this bug before ... may be due to wrong triton version. Can you make sure you have this one installed?
https://github.com/facebookresearch/xformers/blob/main/requirements-test.txt#L30

[2022-11-29 08:04] Thomas-MMJ commented on #544
I've confirmed that it is the triton version specified that is installed.  Also reinstalled it to be sure.

[code]

[2022-11-29 08:09] danthe3rd commented on #544
@blefaudeux  do you have any idea what's going on here?
This is on RTX 3060, might be an issue of insufficient shared memory? (we have a "CUDA: invalid argument")

[2022-11-29 08:15] blefaudeux commented on #544
@ptillet, any idea ? looks like the code generated for this GPU is invalid somehow. Thanks for the heads up @danthe3rd, sorry about that

[2022-11-29 09:05] Thomas-MMJ commented on #544
If I run the unit tests for triton using the pip installed version I get a similar fail in test mat_mul,  will try building it from source, maybe it has to do with the pip version.

FAILED test/unit/operators/test_matmul.py::test_op[256-128-32-1-8-3-1024-1024-1024-False-True-float32] - RuntimeError: Triton Error [CUDA]: invalid argument
FAILED test/unit/operators/test_matmul.py::test_op[128-128-32

[2022-11-29 09:08] Thomas-MMJ commented on #544
Note that memory usage never goes above about 2 GB of VRAM so unlikely that is the case.

[2022-11-29 09:11] danthe3rd commented on #544
I don't think this is related, as these kernels are built at run-time.

I was not mentioning GPU global memory, but [GPU shared-memory](https://docs.nvidia.com/cuda/ampere-tuning-guide/index.html#l1-cache) - that's a sort of very fast cache that kernels can use to store stuff (like matrix operands for GEMM)

[2022-11-29 09:12] Thomas-MMJ commented on #544
Oops sorry for my lack of close reading...

[2022-11-29 09:35] blefaudeux commented on #544
normally triton should accommodate for this in real time when jitting the kernel, the JIT part can even get a little long if there's a lot of spilling and the compiler has to find a solution which fits. It looks (could be wrong) like a case of triton producing an instruction that this card doesn't support, could also be a bad (unfortunate) combination of nvcc/cuda, I'm not sure

[2022-11-29 09:41] Thomas-MMJ commented on #544
I just uninstalled pytest-randomly and the triton tests all pass now, but the test_core_attention.py tests are still failing.

[2022-11-29 14:43] blefaudeux commented on #544
alright, I got some explanations from @ptillet and you're right @danthe3rd, the kernel needs too much shared memory. We can use a smaller block size &| lower the `num_stages` when  kicking the kernel

[2022-11-29 18:55] danthe3rd commented on #533
It looks a bit more complicated than I expected - for now I think we could upload to [pypi](https://pypi.org/project/xformers/) directly.
I think a first step would be to upload files corresponding to the latest pytorch version on pypi (eg pytorch 1.13 with cu116) for win/linux. It looks like we need a few things:
(1) We need to build on "manylinux" rather than ubuntu (at least for linux) - or we

[2022-11-29 19:54] AbdBarho commented on #533
for 1) we are already building on manylinux
https://github.com/facebookresearch/xformers/blob/1515f775739d89628f0293aadcdc3a820d43f287/.github/workflows/wheels.yml#L65
but the generated wheel has the suffix `linux_x64_86`, maybe we can cheese it and `sed` to `manylinux`, I used the 2014 version for python version support https://github.com/pypa/manylinux#manylinux

for 2) I always thought this was

[2022-11-29 20:07] AbdBarho commented on #533
@danthe3rd yeah, I will start with a dummy repo and https://test.pypi.org/, also check the versioning thing, hopefully over the weekend.

[2022-11-30 06:16] vedantroy opened #550 "Use a newer version of flash attention that compiles faster"
# 🚀 Feature

## Motivation

This package compiles slowly. And I need to build it from source, since I can't use a conda install (I'm using pytorch nightly that I don't think is available on conda).

## Pitch

Use a newer version of flash attention that speeds up compilation: https://github.com/HazyResearch/flash-attention/commit/d95ee1a95da2b138073b5eef0f09ce4de615ba5e

## Alternatives

Not sure.

[2022-11-30 06:54] danthe3rd commented on #550
Hi @vedantroy and thanks for opening this issue!

Indeed we don't provide builds for pytorch nightly.

This is indeed something we have on our radar (tracking PR: https://github.com/facebookresearch/xformers/pull/495). We have some performance regression issue on the newer version of flash attention (especially for the forward pass), which we want to address before merging, by using @tridao 's imp